{
    "swagger": "2.0",
    "info": {
        "title": "Regionalised and Domain-specific Taxon Lists",
        "description": "<p>The DWB REST Webservice for Taxon Lists is part of a Diversity Workbench (DWB) services network. It is delivering basic information on taxon names in use, synonyms, classification and German vernacular names of a number of groups of animals, fungi and plants. </p><p>The current focus is on domain-specific lists (checklists, taxon reference lists, red lists) from Germany under active curation by experts on taxonomy or floristics and faunistics. Each regionalised and domain-specific taxon list has its own history and objectives, is managed completely separately and has its own hierarchical classification. The DiversityTaxonNames (DTN) data resources accessed by the REST API may include additional taxon-related data useful, e. g., for regional nature conservation agencies and environmental projects. This information might be mobilised in a next step.</p><p>For more information please check <a href=\"http://services.snsb.info/DTNtaxonlists/rest/v0.1/\">Overview on Published Lists</a>. For details refer to <a href=\"http://www.diversitymobile.net/wiki/DTN_Taxon_Lists_Services\">DTN_Taxon_Lists_Services</a></p> <h1>Regionalisierte und domän-spezifische Taxonlisten</h1> <p>Der DWB REST Webservice for Taxon Lists ist Teil eines Netzwerkes aus Diversity Workbench (DWB) Diensten. Er liefert Basisinformation zu anerkannten Taxonnamen, Synonymen, Klassifikationen und deutsche Volksnamen für eine Anzahl von Tier-, Pilz- und Pflanzengruppen. </p><p>Der Fokus liegt dabei zur Zeit auf domän-spezifischen Listen (Checklisten, Taxonreferenzlisten und Rote Listen) aus Deutschland, die von taxonomisch oder floristisch bzw. faunistisch arbeitenden Experten aktiv kuratiert werden. Jede regionalisierte und domän-spezifische Taxonliste hat ihre eigene Geschichte und Zielvorstellungen, wird separat gemanagt und hat ihre eine eigenständige hierarchische Klassifikation. Die über die REST API zugänglichen DiversityTaxonNames (DTN) Datenquellen können weitere taxon-bezogene Daten enthalten, die für regionale Naturschutzeinrichtungen und Umweltprojekte von Bedeutung sein können. Diese Information soll in einem nächsten Schritt mobilisiert werden. </p><p>Die derzeit veröffentlichten Listen sind in dieser <a href=\"http://services.snsb.info/DTNtaxonlists/rest/v0.1/\">Übersicht</a> abrufbar. Weitere Information findet sich unter <a href=\"http://www.diversitymobile.net/wiki/DTN_Taxon_Lists_Services\">DTN_Taxon_Lists_Services</a></p> <h1>REST API Documentation</h1>",
        "version": "0.1"
    },
    "host": "services.snsb.info",
    "schemes": [
        "http"
    ],
    "basePath": "/DTNtaxonlists/rest/v0.1",
    "produces": [
        "application/json"
    ],
    "paths": {
        "/names": {
            "get": {
                "summary": "Taxonomic names search",
                "description": "<p>Full text search on names</p><p> The search covers the fields: <ul><li>TaxonNameCache</li><li>CommonName</li><li>CountryCode</li><li>DatabaseName</li></ul></p><p> Use ~N to allow N uncertain letters: colo~2 will search everything by exchanging two letters in colo: colo, coco, cora, ...</p><p>Additional search possiblities with:<ul><li>Search for NameID with the parameter nameid.</li><li>Search for exact matches in attribute TaxonNameCache with parameter exactname.</li><ul></p><p>Parameters should not be used together in one query. One parameter has to be given..</p>",
                "parameters": [
                    {
                        "name": "name",
                        "in": "query",
                        "description": "Text to search",
                        "required": false,
                        "type": "string",
                        "format": "string"
                    },
                    {
                        "name": "exactname",
                        "in": "query",
                        "description": "Exact name to search in field TaxonNameCache",
                        "required": false,
                        "type": "string",
                        "format": "string"
                    },
                    {
                        "name": "nameid",
                        "in": "query",
                        "description": "NameID to search for in all lists",
                        "required": false,
                        "type": "string",
                        "format": "string"
                    },
                    {
                        "name": "exactnamepartwithoutauthorandyear",
                        "in": "query",
                        "description": "Search only for the first part of a name without authors and year. Only exact matches are returned.",
                        "required": false,
                        "type": "string",
                        "format": "string"
                    }
                    
                ],
                "tags": [
                    "taxonnames"
                ],
                "responses": {
                    "200": {
                        "description": "An list of usrls to the name specifications",
                        "schema": {
                            "type": "array",
                            "items": {
                                "$ref": "#/definitions/Resultlist"
                            }
                        }
                    }
                }
            }
        },
        "/names/{database}/{nameid}": {
            "get": {
                "summary": "specific taxonomic name",
                "description": "Get one taxonomic name data set",
                "parameters": [
                    {
                        "name": "database",
                        "in": "path",
                        "description": "database name",
                        "required": true,
                        "type": "string",
                        "format": "string"
                    },
                    {
                        "name": "nameid",
                        "in": "path",
                        "description": "database unique id of the taxonomic name",
                        "required": true,
                        "type": "number",
                        "format": "integer"
                    }
                ],
                "tags": [
                    "taxonnames"
                ],
                "responses": {
                    "200": {
                        "description": "An Array with one item, representing, the taxonomic name dataset",
                        "schema": {
                            "type": "array",
                            "items": {
                                "$ref": "#/definitions/Taxonname"
                            }
                        }
                    },
                    "default": {
                        "description": "Unexpected error",
                        "schema": {
                            "$ref": "#/definitions/Error"
                        }
                    }
                }
            }
        },
        "/names/{database}/{nameid}/commonnames": {
            "get": {
                "summary": "the corresponding common names",
                "description": "get a list of links to corresponding common names for this taxonomic name",
                "parameters": [
                    {
                        "name": "database",
                        "in": "path",
                        "description": "database name",
                        "required": true,
                        "type": "string",
                        "format": "string"
                    },
                    {
                        "name": "nameid",
                        "in": "path",
                        "description": "database unique id of the taxonomic name",
                        "required": true,
                        "type": "number",
                        "format": "integer"
                    }
                ],
                "tags": [
                    "taxonnames"
                ],
                "responses": {
                    "200": {
                        "description": "An array with links to the common names or an empty array if no common names are stored",
                        "schema": {
                            "type": "array",
                            "items": {
                                "$ref": "#/definitions/Commonnamelink"
                            }
                        }
                    },
                    "default": {
                        "description": "Unexpected error",
                        "schema": {
                            "$ref": "#/definitions/Error"
                        }
                    }
                }
            }
        },
        "/names/{database}/{nameid}/acceptednames": {
            "get": {
                "summary": "the corresponding accepted names",
                "description": "A list of links to accepted names for this taxonomic name",
                "parameters": [
                    {
                        "name": "database",
                        "in": "path",
                        "description": "database name",
                        "required": true,
                        "type": "string",
                        "format": "string"
                    },
                    {
                        "name": "nameid",
                        "in": "path",
                        "description": "database unique id of the taxonomic name",
                        "required": true,
                        "type": "number",
                        "format": "integer"
                    }
                ],
                "tags": [
                    "taxonnames"
                ],
                "responses": {
                    "200": {
                        "description": "An array with links to the accepted names or an empty array if no accepted names are stored",
                        "schema": {
                            "type": "array",
                            "items": {
                                "$ref": "#/definitions/Acceptednamelink"
                            }
                        }
                    },
                    "default": {
                        "description": "Unexpected error",
                        "schema": {
                            "$ref": "#/definitions/Error"
                        }
                    }
                }
            }
        },        
        "/names/{database}/{nameid}/synonyms": {
            "get": {
                "summary": "Synonyms",
                "description": "A list of synonymic names for this taxonomic name",
                "parameters": [
                    {
                        "name": "database",
                        "in": "path",
                        "description": "database name",
                        "required": true,
                        "type": "string",
                        "format": "string"
                    },
                    {
                        "name": "nameid",
                        "in": "path",
                        "description": "database unique id of the taxonomic name",
                        "required": true,
                        "type": "number",
                        "format": "integer"
                    }
                ],
                "tags": [
                    "taxonnames"
                ],
                "responses": {
                    "200": {
                        "description": "An array with links to the synonyms or an empty array if no synonyms are stored",
                        "schema": {
                            "type": "array",
                            "items": {
                                "$ref": "#/definitions/Synonymnamelink"
                            }
                        }
                    },
                    "default": {
                        "description": "Unexpected error",
                        "schema": {
                            "$ref": "#/definitions/Error"
                        }
                    }
                }
            }
        },
        "/names/{database}/{nameid}/acceptednames": {
            "get": {
                "summary": "Accepted names",
                "description": "A list of accepted names for this taxonomic name",
                "parameters": [
                    {
                        "name": "database",
                        "in": "path",
                        "description": "database name",
                        "required": true,
                        "type": "string",
                        "format": "string"
                    },
                    {
                        "name": "nameid",
                        "in": "path",
                        "description": "database unique id of the taxonomic name",
                        "required": true,
                        "type": "number",
                        "format": "integer"
                    }
                ],
                "tags": [
                    "taxonnames"
                ],
                "responses": {
                    "200": {
                        "description": "An array with links to the accepted names with the ProjectID indicating the context in which this accepted names is valid.",
                        "schema": {
                            "type": "array",
                            "items": {
                                "$ref": "#/definitions/Acceptednamelink"
                            }
                        }
                    },
                    "default": {
                        "description": "Unexpected error",
                        "schema": {
                            "$ref": "#/definitions/Error"
                        }
                    }
                }
            }
        },        
        "/names/{database}/{nameid}/hierarchies": {
            "get": {
                "summary": "the parents of all available hierachies for this taxonomic name",
                "description": "A list of links to parent names for this taxonomic name",
                "parameters": [
                    {
                        "name": "database",
                        "in": "path",
                        "description": "database name",
                        "required": true,
                        "type": "string",
                        "format": "string"
                    },
                    {
                        "name": "nameid",
                        "in": "path",
                        "description": "database unique id of the taxonomic name",
                        "required": true,
                        "type": "number",
                        "format": "integer"
                    }
                ],
                "tags": [
                    "taxonnames"
                ],
                "responses": {
                    "200": {
                        "description": "An array with links to the parent names or an empty array if no hierachies are stored or no parent is available",
                        "schema": {
                            "type": "array",
                            "items": {
                                "$ref": "#/definitions/Hierarchylink"
                            }
                        }
                    },
                    "default": {
                        "description": "Unexpected error",
                        "schema": {
                            "$ref": "#/definitions/Error"
                        }
                    }
                }
            }
        },
        "/lists": {
            "get": {
                "summary": "Taxonomic name lists",
                "description": "Links to all lists on this server\n",
                "tags": [
                    "lists"
                ],
                "responses": {
                    "200": {
                        "description": "A list of urls to to all taxonomic name lists and urls to the project which defined this list",
                        "schema": {
                            "type": "array",
                            "items": {
                                "$ref": "#/definitions/Listlist"
                            }
                        }
                    }
                }
            }
        },
        "/lists/{database}/{listid}": {
            "get": {
                "summary": "links to all taxonomic names in this specific list",
                "description": "List of links to taxonomic names which are stored in this list",
                "parameters": [
                    {
                        "name": "database",
                        "in": "path",
                        "description": "database name",
                        "required": true,
                        "type": "string",
                        "format": "string"
                    },
                    {
                        "name": "listid",
                        "in": "path",
                        "description": "database unique id of the list",
                        "required": true,
                        "type": "number",
                        "format": "integer"
                    }
                ],
                "tags": [
                    "lists"
                ],
                "responses": {
                    "200": {
                        "description": "An array with links to the taxonomic names or an empty array if no hierachies are stored or no parent is available",
                        "schema": {
                            "type": "array",
                            "items": {
                                "$ref": "#/definitions/Taxonnamelink"
                            }
                        }
                    },
                    "default": {
                        "description": "Unexpected error",
                        "schema": {
                            "$ref": "#/definitions/Error"
                        }
                    }
                }
            }
        },
        "/lists/{database}/{listid}/project": {
            "get": {
                "summary": "link to the project",
                "description": "A list with one link to the project which defines this list",
                "parameters": [
                    {
                        "name": "database",
                        "in": "path",
                        "description": "database name",
                        "required": true,
                        "type": "string",
                        "format": "string"
                    },
                    {
                        "name": "listid",
                        "in": "path",
                        "description": "database unique id of the list",
                        "required": true,
                        "type": "number",
                        "format": "integer"
                    }
                ],
                "tags": [
                    "lists"
                ],
                "responses": {
                    "200": {
                        "description": "An array with one item which contains a link list to the project",
                        "schema": {
                            "type": "array",
                            "items": {
                                "$ref": "#/definitions/Projectlink"
                            }
                        }
                    },
                    "default": {
                        "description": "Unexpected error",
                        "schema": {
                            "$ref": "#/definitions/Error"
                        }
                    }
                }
            }
        },
        "/projects": {
            "get": {
                "summary": "returns null",
                "description": "Links to all projects on this server. Not implemented.",
                "tags": [
                    "projects"
                ],
                "responses": {
                    "200": {
                        "description": "returns allways null",
                        "schema": {
                            "type": "string"
                        }
                    }
                }
            }
        },
        "/projects/{projectid}": {
            "get": {
                "summary": "a specific project description on this server",
                "description": "An array with one element which represents the description of the selected project",
                "parameters": [
                    {
                        "name": "projectid",
                        "in": "path",
                        "description": "server unique id of the project",
                        "required": true,
                        "type": "number",
                        "format": "integer"
                    }
                ],
                "tags": [
                    "projects"
                ],
                "responses": {
                    "200": {
                        "description": "An array with one item which contains the project dataset",
                        "schema": {
                            "type": "array",
                            "items": {
                                "$ref": "#/definitions/Project"
                            }
                        }
                    },
                    "default": {
                        "description": "Unexpected error",
                        "schema": {
                            "$ref": "#/definitions/Error"
                        }
                    }
                }
            }
        },
        "/projects/{projectid}/agents": {
            "get": {
                "summary": "all agents for this project",
                "description": "An array with links to all agents of this project",
                "parameters": [
                    {
                        "name": "projectid",
                        "in": "path",
                        "description": "server unique id of the project",
                        "required": true,
                        "type": "number",
                        "format": "integer"
                    }
                ],
                "tags": [
                    "projects"
                ],
                "responses": {
                    "200": {
                        "description": "An array with one item which contains the project dataset",
                        "schema": {
                            "type": "array",
                            "items": {
                                "$ref": "#/definitions/Agentlist"
                            }
                        }
                    },
                    "default": {
                        "description": "Unexpected error",
                        "schema": {
                            "$ref": "#/definitions/Error"
                        }
                    }
                }
            }
        },
        "/projects/{projectid}/references": {
            "get": {
                "summary": "literature references",
                "description": "An array with links to all references of this project",
                "parameters": [
                    {
                        "name": "projectid",
                        "in": "path",
                        "description": "server unique id of the project",
                        "required": true,
                        "type": "number",
                        "format": "integer"
                    }
                ],
                "tags": [
                    "projects"
                ],
                "responses": {
                    "200": {
                        "description": "An array with items for all project associated references",
                        "schema": {
                            "type": "array",
                            "items": {
                                "$ref": "#/definitions/Referencelink"
                            }
                        }
                    },
                    "default": {
                        "description": "Unexpected error",
                        "schema": {
                            "$ref": "#/definitions/Error"
                        }
                    }
                }
            }
        },
        "/Agents_TNT/{agentid}": {
            "get": {
                "summary": "description of this agents",
                "description": "An array one item, describing the agent",
                "parameters": [
                    {
                        "name": "agentid",
                        "in": "path",
                        "description": "server unique id of the agent",
                        "required": true,
                        "type": "number",
                        "format": "integer"
                    }
                ],
                "tags": [
                    "agents"
                ],
                "responses": {
                    "200": {
                        "description": "An array with one item which contains the agent dataset",
                        "schema": {
                            "type": "array",
                            "items": {
                                "$ref": "#/definitions/Agent"
                            }
                        }
                    },
                    "default": {
                        "description": "Unexpected error",
                        "schema": {
                            "$ref": "#/definitions/Error"
                        }
                    }
                }
            }
        },
        "/commonnames/": {
            "get": {
                "summary": "Query the common name dataset",
                "description": "Exact search on all common names",
                "parameters": [
                    {
                        "name": "exactcommonname",
                        "in": "query",
                        "description": "Exact common name to search",
                        "required": true,
                        "type": "string",
                        "format": "string"
                    }
                ],
                "tags": [
                    "taxonnames"
                ],
                "responses": {
                    "200": {
                        "description": "An array with elements, containing the commonname dataset",
                        "schema": {
                            "type": "array",
                            "items": {
                                "$ref": "#/definitions/Commonname"
                            }
                        }
                    },
                    "default": {
                        "description": "Unexpected error",
                        "schema": {
                            "$ref": "#/definitions/Error"
                        }
                    }
                }
            }
        },        
        "/commonnames/{databaseid}/{nameid}/{cid}": {
            "get": {
                "summary": "the common name dataset",
                "description": "An array with one element containing the commonname dataset",
                "parameters": [
                    {
                        "name": "databaseid",
                        "in": "path",
                        "description": "database name",
                        "required": true,
                        "type": "string",
                        "format": "string"
                    },
                    {
                        "name": "nameid",
                        "in": "path",
                        "description": "database unique id of the taxonomic name",
                        "required": true,
                        "type": "number",
                        "format": "integer"
                    },
                    {
                        "name": "cid",
                        "in": "path",
                        "description": "database unique id of the common name, URL-encoded",
                        "required": true,
                        "type": "string",
                        "format": "string"
                    }
                ],
                "tags": [
                    "taxonnames"
                ],
                "responses": {
                    "200": {
                        "description": "An array with one element, containing the commonname dataset",
                        "schema": {
                            "type": "array",
                            "items": {
                                "$ref": "#/definitions/Commonname"
                            }
                        }
                    },
                    "default": {
                        "description": "Unexpected error",
                        "schema": {
                            "$ref": "#/definitions/Error"
                        }
                    }
                }
            }
        },
        "/acceptednames/{databaseid}/{projectid}/{nameid}": {
            "get": {
                "summary": "the accepted name",
                "description": "An array with one element containing the accepted name dataset",
                "parameters": [
                    {
                        "name": "databaseid",
                        "in": "path",
                        "description": "database name",
                        "required": true,
                        "type": "string",
                        "format": "string"
                    },
                    {
                        "name": "projectid",
                        "in": "path",
                        "description": "database unique id of the project in which this name is defined as accepted",
                        "required": true,
                        "type": "number",
                        "format": "integer"
                    },
                    {
                        "name": "nameid",
                        "in": "path",
                        "description": "database unique id of the name",
                        "required": true,
                        "type": "integer",
                        "format": "integer"
                    }
                ],
                "tags": [
                    "taxonnames"
                ],
                "responses": {
                    "200": {
                        "description": "An array with one element, containing the accepted name dataset and a link to the defining project",
                        "schema": {
                            "type": "array",
                            "items": {
                                "$ref": "#/definitions/Acceptedname"
                            }
                        }
                    },
                    "default": {
                        "description": "Unexpected error",
                        "schema": {
                            "$ref": "#/definitions/Error"
                        }
                    }
                }
            }
        },
        "/synonymy/{databaseid}/{projectid}/{nameid}/{synnameid}": {
            "get": {
                "summary": "Synonyms",
                "description": "An array with a links to the synonym",
                "parameters": [
                    {
                        "name": "databaseid",
                        "in": "path",
                        "description": "database name",
                        "required": true,
                        "type": "string",
                        "format": "string"
                    },
                    {
                        "name": "projectid",
                        "in": "path",
                        "description": "database unique id of the project in which this synonym is defined",
                        "required": true,
                        "type": "number",
                        "format": "integer"
                    },
                    {
                        "name": "nameid",
                        "in": "path",
                        "description": "database unique id of the name",
                        "required": true,
                        "type": "integer",
                        "format": "integer"
                    },
                    {
                        "name": "synnameid",
                        "in": "path",
                        "description": "database unique id of the synonym name",
                        "required": true,
                        "type": "integer",
                        "format": "integer"
                    }
                ],
                "tags": [
                    "taxonnames"
                ],
                "responses": {
                    "200": {
                        "description": "An array with one element containing a link to the synonym",
                        "schema": {
                            "type": "array",
                            "items": {
                                "$ref": "#/definitions/Synonymname"
                            }
                        }
                    },
                    "default": {
                        "description": "Unexpected error",
                        "schema": {
                            "$ref": "#/definitions/Error"
                        }
                    }
                }
            }
        },
        "/hierarchy/{databaseid}/{projectid}/{nameid}": {
            "get": {
                "summary": "the parent name and the hierarchy defining project",
                "description": "An array with links to the parent name in the hierarchy and to the hierarchy defining project",
                "parameters": [
                    {
                        "name": "databaseid",
                        "in": "path",
                        "description": "database name",
                        "required": true,
                        "type": "string",
                        "format": "string"
                    },
                    {
                        "name": "projectid",
                        "in": "path",
                        "description": "database unique id of the project which defined the hierarchy",
                        "required": true,
                        "type": "number",
                        "format": "integer"
                    },
                    {
                        "name": "nameid",
                        "in": "path",
                        "description": "database unique id of the taxonomic name",
                        "required": true,
                        "type": "integer",
                        "format": "integer"
                    }
                ],
                "tags": [
                    "taxonnames"
                ],
                "responses": {
                    "200": {
                        "description": "An array with references to the hierarchy, and links to the project and the parent name",
                        "schema": {
                            "type": "array",
                            "items": {
                                "$ref": "#/definitions/Hierarchy"
                            }
                        }
                    },
                    "default": {
                        "description": "Unexpected error",
                        "schema": {
                            "$ref": "#/definitions/Error"
                        }
                    }
                }
            }
        },
        "/hierarchy/{databaseid}/{projectid}/{nameid}/full": {
            "get": {
                "summary": "All parent names and the hierarchy defining projects",
                "description": "An array with links to all parent names in the hierarchy and to the hierarchy defining project",
                "parameters": [
                    {
                        "name": "databaseid",
                        "in": "path",
                        "description": "database name",
                        "required": true,
                        "type": "string",
                        "format": "string"
                    },
                    {
                        "name": "projectid",
                        "in": "path",
                        "description": "database unique id of the project which defined the hierarchy",
                        "required": true,
                        "type": "number",
                        "format": "integer"
                    },
                    {
                        "name": "nameid",
                        "in": "path",
                        "description": "database unique id of the taxonomic name",
                        "required": true,
                        "type": "integer",
                        "format": "integer"
                    }
                ],
                "tags": [
                    "taxonnames"
                ],
                "responses": {
                    "200": {
                        "description": "An array with references to all parents of the given name in the given hierarchy",
                        "schema": {
                            "type": "array",
                            "items": {
                                "$ref": "#/definitions/Hierarchyfull"
                            }
                        }
                    },
                    "default": {
                        "description": "Unexpected error",
                        "schema": {
                            "$ref": "#/definitions/Error"
                        }
                    }
                }
            }
        },
        "/references": {
            "get": {
                "summary": "literature references",
                "description": "An array with links to the literature references",
                "tags": [
                    "references"
                ],
                "responses": {
                    "200": {
                        "description": "An array with links to the reference datasets",
                        "schema": {
                            "type": "array",
                            "items": {
                                "$ref": "#/definitions/Referencelink"
                            }
                        }
                    },
                    "default": {
                        "description": "Unexpected error",
                        "schema": {
                            "$ref": "#/definitions/Error"
                        }
                    }
                }
            }
        },
        "/references/{databaseid}/{referenceid}": {
            "get": {
                "summary": "a specific literature reference",
                "description": "An array with links to the parent name in the hierarchy and to the hierarchy defining project",
                "parameters": [
                    {
                        "name": "databaseid",
                        "in": "path",
                        "description": "database name",
                        "required": true,
                        "type": "string",
                        "format": "string"
                    },
                    {
                        "name": "referenceid",
                        "in": "path",
                        "description": "database unique id of the reference",
                        "required": true,
                        "type": "number",
                        "format": "integer"
                    }
                ],
                "tags": [
                    "references"
                ],
                "responses": {
                    "200": {
                        "description": "An array with one element containing the dataset of the literature reference",
                        "schema": {
                            "type": "array",
                            "items": {
                                "$ref": "#/definitions/Reference"
                            }
                        }
                    },
                    "default": {
                        "description": "Unexpected error",
                        "schema": {
                            "$ref": "#/definitions/Error"
                        }
                    }
                }
            }
        },
        "/references/{databaseid}/{referenceid}/relations": {
            "get": {
                "summary": "a specific literature reference relation",
                "description": "An array with the datasets and links to all relations on the literature reference. \\ Mostly the author list of the reference. \\ The links are only for referencing an specific relation.",
                "parameters": [
                    {
                        "name": "databaseid",
                        "in": "path",
                        "description": "database name",
                        "required": true,
                        "type": "string",
                        "format": "string"
                    },
                    {
                        "name": "referenceid",
                        "in": "path",
                        "description": "database unique id of the reference",
                        "required": true,
                        "type": "number",
                        "format": "integer"
                    }
                ],
                "tags": [
                    "references"
                ],
                "responses": {
                    "200": {
                        "description": "An array with relations to the specific literature reference",
                        "schema": {
                            "type": "array",
                            "items": {
                                "$ref": "#/definitions/Referencerelationslink"
                            }
                        }
                    },
                    "default": {
                        "description": "Unexpected error",
                        "schema": {
                            "$ref": "#/definitions/Error"
                        }
                    }
                }
            }
        },
        "/referencerelation/{databaseid}/{referenceid}/{role}/{sequence}": {
            "get": {
                "summary": "a specific literature reference relation",
                "description": "An array with the datasets and links to all relations on the literature reference. \\ Mostly the author list of the reference.",
                "parameters": [
                    {
                        "name": "databaseid",
                        "in": "path",
                        "description": "database name",
                        "required": true,
                        "type": "string",
                        "format": "string"
                    },
                    {
                        "name": "referenceid",
                        "in": "path",
                        "description": "database unique id of the reference",
                        "required": true,
                        "type": "number",
                        "format": "integer"
                    },
                    {
                        "name": "role",
                        "in": "path",
                        "description": "role of the relation, like aut for author.",
                        "required": true,
                        "type": "string",
                        "format": "string"
                    },
                    {
                        "name": "sequence",
                        "in": "path",
                        "description": "sequence number of the reference, like number of the author",
                        "required": true,
                        "type": "number",
                        "format": "integer"
                    }
                ],
                "tags": [
                    "references"
                ],
                "responses": {
                    "200": {
                        "description": "An array with one relation to the specific literature reference",
                        "schema": {
                            "type": "array",
                            "items": {
                                "$ref": "#/definitions/Referencerelation"
                            }
                        }
                    },
                    "default": {
                        "description": "Unexpected error",
                        "schema": {
                            "$ref": "#/definitions/Error"
                        }
                    }
                }
            }
        }
    },
    "definitions": {
        "Error": {
            "properties": {
                "code": {
                    "type": "integer",
                    "format": "int32"
                },
                "message": {
                    "type": "string"
                },
                "fields": {
                    "type": "string"
                }
            }
        },
        "Resultlist": {
            "properties": {
                "commonname": {
                    "type": "string"
                },
                "name": {
                    "type": "string"
                },
                "url": {
                    "type": "string",
                    "description": "Link/url to the found taxonomic name"  
                }
            }
        },
        "Link": {
            "properties": {
                "name": {
                    "type": "string"
                },
                "rel": {
                    "type": "string"
                },
                "type": {
                    "type": "string"
                },
                "uri": {
                    "type": "string"
                }
            }
        },
        "Taxonname": {
            "properties": {
                "AnamorphTeleomorph": {
                    "type": "string"
                },
                "BasionymAuthors": {
                    "type": "string"
                },
                "CombiningAuthors": {
                    "type": "string"
                },
                "DatabaseName": {
                    "type": "string"
                },
                "GenusOrSupragenericName": {
                    "type": "string"
                },
                "IgnoreButKeepForReference": {
                    "type": "string"
                },
                "InfragenericEpithet": {
                    "type": "string"
                },
                "InfraspecificEpithet": {
                    "type": "string"
                },
                "IsRecombination": {
                    "type": "string"
                },
                "Issue": {
                    "type": "string"
                },
                "NameID": {
                    "type": "integer"
                },
                "NomenclaturalCode": {
                    "type": "string"
                },
                "NomenclaturalComment": {
                    "type": "string"
                },
                "NomenclaturalStatus": {
                    "type": "string"
                },
                "NonNomenclaturalNameSuffix": {
                    "type": "string"
                },
                "Pages": {
                    "type": "string"
                },
                "ProjectID": {
                    "type": "integer"
                },
                "PublishingAuthors": {
                    "type": "string"
                },
                "ReferenceTitle": {
                    "type": "string"
                },
                "ReferenceURI": {
                    "type": "string"
                },
                "RevisionLevel": {
                    "type": "string"
                },
                "SanctioningAuthor": {
                    "type": "string"
                },
                "SpeciesEpithet": {
                    "type": "string"
                },
                "TaxonNameCache": {
                    "type": "string",
                    "description": "Combined cached taxonomic name"
                },
                "TaxonomicRankCode": {
                    "type": "string",
                    "description": "Abbreviation of the rank"
                },
                "TaxonomicRank": {
                    "type": "string",
                    "description": "Taxonomic rank, according to the DisplayText field of the code-ENUM"
                },
                "TypistNotes": {
                    "type": "string"
                },
                "Version": {
                    "type": "integer"
                },
                "Volume": {
                    "type": "string"
                },
                "YearOfPubl": {
                    "type": "integer"
                },
                "links": {
                    "type": "array",
                    "items": {
                        "$ref": "#/definitions/Link"
                    },
                    "description": "Links to common names, accepted names, synonyms, hierarchies and the list project"
                }
            }
        },
        "Hierarchylink": {
            "properties": {
                "DatabaseName": {
                    "type": "string"
                },
                "IgnoreButKeepForReference": {
                    "type": "integer"
                },
                "NameID": {
                    "type": "integer"
                },
                "ProjectID": {
                    "type": "integer"
                },
                "links": {
                    "type": "array",
                    "items": {
                        "$ref": "#/definitions/Link"
                    }
                }
            }
        },
        "Acceptednamelink": {
            "properties": {
                "DatabaseName": {
                    "type": "string"
                },
                "IgnoreButKeepForReference": {
                    "type": "integer"
                },
                "NameID": {
                    "type": "integer"
                },
                "ProjectID": {
                    "type": "integer"
                },
                "links": {
                    "type": "array",
                    "items": {
                        "$ref": "#/definitions/Link"
                    }
                }
            }
        },        
        "Synonymnamelink": {
            "properties": {
                "DatabaseName": {
                    "type": "string"
                },
                "IgnoreButKeepForReference": {
                    "type": "integer"
                },
                "NameID": {
                    "type": "integer"
                },
                "ProjectID": {
                    "type": "integer"
                },
                "SynNameID": {
                    "type": "string"
                },
                "links": {
                    "type": "array",
                    "items": {
                        "$ref": "#/definitions/Link"
                    }
                }
            }
        },
        "Commonnamelink": {
            "properties": {
                "DatabaseName": {
                    "type": "string"
                },
                "IgnoreButKeepForReference": {
                    "type": "integer"
                },
                "NameID": {
                    "type": "integer"
                },
                "ProjectID": {
                    "type": "integer"
                },
                "links": {
                    "type": "array",
                    "items": {
                        "$ref": "#/definitions/Link"
                    }
                }
            }
        },
        "Taxonnamelink": {
            "properties": {
                "database": {
                    "type": "string"
                },
                "nameid": {
                    "type": "integer"
                },
                "notes": {
                    "type": "string"
                },
                "links": {
                    "type": "array",
                    "items": {
                        "$ref": "#/definitions/Link"
                    }
                }
            }
        },
        "Listlist": {
            "properties": {
                "DatabaseName": {
                    "type": "string"
                },
                "projectid": {
                    "type": "integer"
                },
                "projecturi": {
                    "type": "string"
                },
                "links": {
                    "type": "array",
                    "items": {
                        "$ref": "#/definitions/Link"
                    }
                }
            }
        },
        "Project": {
            "properties": {
                "Project": {
                    "type": "string"
                },
                "ProjectCopyright": {
                    "type": "string"
                },
                "ProjectDescription": {
                    "type": "string"
                },
                "ProjectEditors": {
                    "type": "string"
                },
                "ProjectID": {
                    "type": "integer"
                },
                "ProjectInstitution": {
                    "type": "string"
                },
                "ProjectLicenseURI": {
                    "type": "string"
                },
                "ProjectNotes": {
                    "type": "string"
                },
                "ProjectParentID": {
                    "type": "integer"
                },
                "ProjectRights": {
                    "type": "string"
                },
                "ProjectSettings": {
                    "type": "string"
                },
                "ProjectTitle": {
                    "type": "string"
                },
                "ProjectURL": {
                    "type": "string"
                },
                "links": {
                    "type": "array",
                    "items": {
                        "$ref": "#/definitions/Link"
                    }
                }
            }
        },
        "Projectlink": {
            "properties": {
                "projecturi": {
                    "type": "string"
                },
                "links": {
                    "type": "array",
                    "items": {
                        "$ref": "#/definitions/Link"
                    }
                }
            }
        },
        "Agentlist": {
            "properties": {
                "AgentName": {
                    "type": "string"
                },
                "AgentRole": {
                    "type": "string"
                },
                "AgentUri": {
                    "type": "string"
                },
                "Notes": {
                    "type": "string"
                },
                "ProjectID": {
                    "type": "integer"
                },
                "links": {
                    "type": "array",
                    "items": {
                        "$ref": "#/definitions/Link"
                    }
                }
            }
        },
        "Agent": {
            "properties": {
                "Abbreviation": {
                    "type": "string"
                },
                "AgentGender": {
                    "type": "string"
                },
                "AgentID": {
                    "type": "integer"
                },
                "AgentName": {
                    "type": "string"
                },
                "AgentParentID": {
                    "type": "string"
                },
                "AgentTitle": {
                    "type": "string"
                },
                "AgentType": {
                    "type": "string"
                },
                "DatabaseName": {
                    "type": "string"
                },
                "Description": {
                    "type": "string"
                },
                "GivenName": {
                    "type": "string"
                },
                "InheritedName": {
                    "type": "string"
                },
                "RevisionLevel": {
                    "type": "string"
                },
                "Version": {
                    "type": "integer"
                }
            }
        },
        "Commonname": {
            "properties": {
                "CommonName": {
                    "type": "string"
                },
                "CountryCode": {
                    "type": "string"
                },
                "LanguageCode": {
                    "type": "string"
                },
                "NameID": {
                    "type": "integer"
                },
                "Notes": {
                    "type": "string"
                },
                "ReferenceDetails": {
                    "type": "string"
                },
                "ReferenceTitle": {
                    "type": "string"
                },
                "ReferenceURI": {
                    "type": "string"
                },
                "SubjectContext": {
                    "type": "string"
                },
                "links": {
                    "type": "array",
                    "items": {
                        "$ref": "#/definitions/Link"
                    },
                    "description": "Link to the refering taxonamic name"
                }
            }
        },
        "Acceptedname": {
            "properties": {
                "ConceptNotes": {
                    "type": "string"
                },
                "ConceptSuffix": {
                    "type": "string"
                },
                "IgnoreButKeepForReference": {
                    "type": "integer"
                },
                "NameID": {
                    "type": "integer"
                },
                "ProjectID": {
                    "type": "integer"
                },
                "RefDetail": {
                    "type": "string"
                },
                "RefText": {
                    "type": "string"
                },
                "RefURI": {
                    "type": "string"
                },
                "TypistsNotes": {
                    "type": "string"
                },
                "links": {
                    "type": "array",
                    "items": {
                        "$ref": "#/definitions/Link"
                    },
                    "description": "Project link to the project description in which this name is defined as an accepted name"
                }
            }
        },
        "Synonymname": {
            "properties": {
                "ConceptNotes": {
                    "type": "string"
                },
                "ConceptSuffix": {
                    "type": "string"
                },
                "IgnoreButKeepForReference": {
                    "type": "integer"
                },
                "NameID": {
                    "type": "integer"
                },
                "ProjectID": {
                    "type": "integer"
                },
                "SynNameID": {
                    "type": "integer"
                },
                "SynTypistsNotes": {
                    "type": "string"
                },
                "SynRefDetail": {
                    "type": "string"
                },
                "SynRefText": {
                    "type": "string"
                },
                "SynRefURI": {
                    "type": "string"
                },
                "SynType": {
                    "type": "string"
                },
                "SynTypistsNotes": {
                    "type": "string"
                },
                "links": {
                    "type": "array",
                    "items": {
                        "$ref": "#/definitions/Link"
                    },
                    "description": "Link to the name dataset of the synonym"
                }
            }
        },
        "Hierarchyfull": {
            "properties": {
                "NameID": {
                    "type": "integer",
                    "description": "NameID of the current parent or the starting name when level==0"
                },
                "NameParentID": {
                    "type": "integer",
                    "description": "NameID of the parent of this entry"
                },
                "ProjectID": {
                    "type": "integer"
                },
                "TaxonNameCache": {
                    "type": "string",
                    "description": "Cached name of this parent"
                },
                "TaxonomicRankCode": {
                    "type": "string",
                    "description": "Abbreviation of the rank"
                },
                "TaxonomicRankCode": {
                    "type": "string",
                    "description": "Taxonomic rank abbreviation"
                },
                "TaxonomicRank": {
                    "type": "string",
                    "description": "Taxonomic rank of this parent, according to the DisplayText-code-ENUM in the database"
                },
                "baseNameID": {
                    "type": "integer",
                    "description": "NameID of the base name for which this parent query was startet"
                },
                "level": {
                    "type": "integer",
                    "description": "Sort order for this parent list. 0 is the starting name, 1 the first parent, 2 the parent of the parent, a.s.o."
                },
                "links": {
                    "type": "array",
                    "items": {
                        "$ref": "#/definitions/Link"
                    },
                    "description": "Links to the parent name and the hierarchy defining project"
                }
            }
        },
        "Hierarchy": {
            "properties": {
                "DatabaseName": {
                    "type": "string"
                },
                "HierarchyListCache": {
                    "type": "string"
                },
                "HierarchyPositionIsUncertain": {
                    "type": "string"
                },
                "HierarchyRefDetail": {
                    "type": "string"
                },
                "HierarchyRefText": {
                    "type": "string"
                },
                "HierarchyRefURI": {
                    "type": "string"
                },
                "HierarchyTypistsNotes": {
                    "type": "string"
                },
                "IgnoreButKeepForReference": {
                    "type": "integer"
                },
                "NameID": {
                    "type": "integer"
                },
                "NameParentID": {
                    "type": "integer"
                },
                "ProjectID": {
                    "type": "integer"
                },
                "links": {
                    "type": "array",
                    "items": {
                        "$ref": "#/definitions/Link"
                    },
                    "description": "Links to the parent name and the hierarchy defining project"
                }
            }
        },
        "Referencelink": {
            "properties": {
                "DatabaseName": {
                    "type": "string"
                },
                "RefID": {
                    "type": "integer"
                },
                "links": {
                    "type": "array",
                    "items": {
                        "$ref": "#/definitions/Link"
                    },
                    "description": "Links to the reference dataset"
                }
            }
        },
        "Reference": {
            "properties": {
                "DatabaseName": {
                    "type": "string"
                },
                "DateDay": {
                    "type": "string"
                },
                "DateMonth": {
                    "type": "string"
                },
                "DateYear": {
                    "type": "integer"
                },
                "Edition": {
                    "type": "string"
                },
                "ISSN_ISBN": {
                    "type": "string"
                },
                "Issue": {
                    "type": "string"
                },
                "Language": {
                    "type": "string"
                },
                "Miscellaneous1": {
                    "type": "string"
                },
                "Miscellaneous2": {
                    "type": "string"
                },
                "Pages": {
                    "type": "string"
                },
                "Periodical": {
                    "type": "string"
                },
                "PublPlace": {
                    "type": "string"
                },
                "Publisher": {
                    "type": "string"
                },
                "RefDescription_Cache": {
                    "type": "string"
                },
                "RefID": {
                    "type": "integer"
                },
                "RefType": {
                    "type": "string"
                },
                "SeriesTitle": {
                    "type": "string"
                },
                "SourceTitle": {
                    "type": "string"
                },
                "Title": {
                    "type": "string"
                },
                "UserDef1": {
                    "type": "string"
                },
                "UserDef2": {
                    "type": "string"
                },
                "UserDef3": {
                    "type": "string"
                },
                "Volume": {
                    "type": "string"
                },
                "links": {
                    "type": "array",
                    "items": {
                        "$ref": "#/definitions/Link"
                    },
                    "description": "Relations links for the reference, containing roles like author"
                }
            }
        },
        "Referencerelationslink": {
            "properties": {
                "DatabaseName": {
                    "type": "string"
                },
                "RefID": {
                    "type": "integer"
                },
                "Role": {
                    "type": "string"
                },
                "Sequence": {
                    "type": "integer"
                },
                "Name": {
                    "type": "string"
                },
                "link": {
                    "type": "array",
                    "items": {
                        "$ref": "#/definitions/Link"
                    },
                    "description": "referenceRelation links for the reference role and sequence"
                }
            }
        },
        "Referencerelation": {
            "properties": {
                "DatabaseName": {
                    "type": "string"
                },
                "RefID": {
                    "type": "integer"
                },
                "Role": {
                    "type": "string"
                },
                "Sequence": {
                    "type": "integer"
                },
                "Name": {
                    "type": "string"
                }
            }
        }
    }
}