{
    "swagger": "2.0",
    "info": {
        "title": "Regionalised and Domain-specific Taxon Lists",
        "description": "<p>The DWB REST Webservice for Taxon Lists is part of a Diversity Workbench (DWB) services network. It is delivering basic information on taxon names in use, synonyms, classification and German vernacular names of a number of groups of animals, fungi and plants.</p><p>The current focus is on domain-specific lists (checklists, taxon reference lists, red lists) from Germany under active curation by experts on taxonomy or floristics and faunistics. Each regionalised and domain-specific taxon list has its own history and objectives, is managed completely separately and has its own hierarchical classification. The DiversityTaxonNames (DTN) data resources accessed by the REST API may include additional taxon-related data useful, e. g., for regional nature conservation agencies and environmental projects.</p></br><p>For more information please check <a href=\"http://www.diversitymobile.net/wiki/How_to_use_the_DWB_REST_Webservice_for_Taxon_Lists\">How to use the DWB REST Webservice for Taxon Lists</a> and <a href=\"http://services.snsb.info/DTNtaxonlists/rest/v0.1/\">Overview on Published Lists</a>. For content details see <a href=\"http://www.diversitymobile.net/wiki/DTN_Taxon_Lists_Services\">DTN Taxon Lists Services</a>.</p><p><p>Der DWB REST Webservice for Taxon Lists ist Teil eines Netzwerkes aus Diversity Workbench (DWB) Diensten. Er liefert Basisinformation zu anerkannten Taxonnamen, Synonymen, Klassifikationen und deutsche Volksnamen f&uuml;r eine Anzahl von Tier-, Pilz- und Pflanzengruppen. </p> <p>Der Fokus liegt dabei zur Zeit auf dom&auml;n-spezifischen Listen (Checklisten, Taxonreferenzlisten und Rote Listen) aus Deutschland, die von taxonomisch oder floristisch bzw. faunistisch arbeitenden Experten aktiv kuratiert werden. Jede regionalisierte und dom&auml;n-spezifische Taxonliste hat ihre eigene Geschichte und Zielvorstellungen, wird separat gemanagt und hat eine eigenst&auml;ndige hierarchische Klassifikation. Die &uuml;ber die REST API zug&auml;nglichen DiversityTaxonNames (DTN) Datenquellen k&ouml;nnen weitere taxon-bezogene Daten enthalten, die f&uuml;r regionale Naturschutzeinrichtungen und Umweltprojekte von Bedeutung sein k&ouml;nnen.</p><br><p>Hinweise zum Einsatz der REST API finden sich unter <a href=\"http://www.diversitymobile.net/wiki/How_to_use_the_DWB_REST_Webservice_for_Taxon_Lists\" title=\"How to use the DWB REST Webservice for Taxon Lists\">How to use the DWB REST Webservice for Taxon Lists</a>. Die derzeit ver&ouml;ffentlichten Listen werden in einer <a href=\"http://services.snsb.info/DTNtaxonlists/rest/v0.1/\">&Uuml;bersicht</a> angezeigt. Weitere Information zum Inhalt stehen unter <a href=\"http://www.diversitymobile.net/wiki/DTN_Taxon_Lists_Services\">DTN Taxon Lists Services</a>.<br></p><h1>REST API Documentation</h1>",
        "version": "0.1"
    },
    "host": "services.snsb.info",
    "schemes": [
        "http"
    ],
    "basePath": "/DTNtaxonlists/rest/v0.1",
    "produces": [
        "application/json"
    ],
    "paths": {
        "/names": {
            "get": {
                "summary": "Taxonomic names search",
                "description": "<p>Full text search on names</p><p> The search covers the fields: <ul><li>TaxonNameCache</li><li>CommonName</li><li>CountryCode</li><li>DatabaseName</li></ul></p><p> Use ~N to allow N uncertain letters: colo~2 will search everything by exchanging two letters in colo: colo, coco, cora, ...</p><p>Additional search possiblities with:<ul><li>Search for NameID with the parameter nameid.</li><li>Search for exact matches in attribute TaxonNameCache with parameter exactname.</li><ul></p><p>Parameters should not be used together in one query. One parameter has to be given..</p>",
                "parameters": [
                    {
                        "name": "name",
                        "in": "query",
                        "description": "Text to search",
                        "required": false,
                        "type": "string",
                        "format": "string"
                    },
                    {
                        "name": "exactname",
                        "in": "query",
                        "description": "Exact name to search in field TaxonNameCache",
                        "required": false,
                        "type": "string",
                        "format": "string"
                    },
                    {
                        "name": "nameid",
                        "in": "query",
                        "description": "NameID to search for in all lists",
                        "required": false,
                        "type": "string",
                        "format": "string"
                    },
                    {
                        "name": "exactnamepartwithoutauthorandyear",
                        "in": "query",
                        "description": "Search only for the first part of a name without authors and year. Only exact matches are returned.",
                        "required": false,
                        "type": "string",
                        "format": "string"
                    }
                    
                ],
                "tags": [
                    "taxonnames"
                ],
                "responses": {
                    "200": {
                        "description": "An list of usrls to the name specifications",
                        "schema": {
                            "type": "array",
                            "items": {
                                "$ref": "#/definitions/Resultlist"
                            }
                        }
                    }
                }
            }
        },
        "/names/{database}/{nameid}": {
            "get": {
                "summary": "specific taxonomic name",
                "description": "Get one taxonomic name data set with link to further information",
                "parameters": [
                    {
                        "name": "database",
                        "in": "path",
                        "description": "database name",
                        "required": true,
                        "type": "string",
                        "format": "string"
                    },
                    {
                        "name": "nameid",
                        "in": "path",
                        "description": "database unique id of the taxonomic name",
                        "required": true,
                        "type": "integer",
                        "format": "integer"
                    }
                ],
                "tags": [
                    "taxonnames"
                ],
                "responses": {
                    "200": {
                        "description": "An Array with one item, representing, the taxonomic name dataset",
                        "schema": {
                            "type": "array",
                            "items": {
                                "$ref": "#/definitions/Taxonname"
                            }
                        }
                    },
                    "default": {
                        "description": "Unexpected error",
                        "schema": {
                            "$ref": "#/definitions/Error"
                        }
                    }
                }
            }
        },
        "/names/{database}/{nameid}/commonnames": {
            "get": {
                "summary": "the corresponding common names",
                "description": "get a list of links to corresponding common names for this taxonomic name",
                "parameters": [
                    {
                        "name": "database",
                        "in": "path",
                        "description": "database name",
                        "required": true,
                        "type": "string",
                        "format": "string"
                    },
                    {
                        "name": "nameid",
                        "in": "path",
                        "description": "database unique id of the taxonomic name",
                        "required": true,
                        "type": "integer",
                        "format": "integer"
                    }
                ],
                "tags": [
                    "taxonnames"
                ],
                "responses": {
                    "200": {
                        "description": "An array with links to the common names or an empty array if no common names are stored",
                        "schema": {
                            "type": "array",
                            "items": {
                                "$ref": "#/definitions/Commonnamelink"
                            }
                        }
                    },
                    "default": {
                        "description": "Unexpected error",
                        "schema": {
                            "$ref": "#/definitions/Error"
                        }
                    }
                }
            }
        },
        "/names/{database}/{nameid}/acceptednames": {
            "get": {
                "summary": "the corresponding accepted names",
                "description": "A list of links to accepted names for this taxonomic name",
                "parameters": [
                    {
                        "name": "database",
                        "in": "path",
                        "description": "database name",
                        "required": true,
                        "type": "string",
                        "format": "string"
                    },
                    {
                        "name": "nameid",
                        "in": "path",
                        "description": "database unique id of the taxonomic name",
                        "required": true,
                        "type": "integer",
                        "format": "integer"
                    }
                ],
                "tags": [
                    "taxonnames"
                ],
                "responses": {
                    "200": {
                        "description": "An array with links to the accepted names or an empty array if no accepted names are stored",
                        "schema": {
                            "type": "array",
                            "items": {
                                "$ref": "#/definitions/Acceptednamelink"
                            }
                        }
                    },
                    "default": {
                        "description": "Unexpected error",
                        "schema": {
                            "$ref": "#/definitions/Error"
                        }
                    }
                }
            }
        },        
       "/names/{database}/{nameid}/acceptednameid": {
            "get": {
                "summary": "Search of the id of the accepted name",
                "description": "An database search for the accepted name for this taxonomic name. The default acceptedname-project is used for the search.",
                "parameters": [
                    {
                        "name": "database",
                        "in": "path",
                        "description": "database name",
                        "required": true,
                        "type": "string",
                        "format": "string"
                    },
                    {
                        "name": "nameid",
                        "in": "path",
                        "description": "database unique id of the taxonomic name for which the accepted name is searched",
                        "required": true,
                        "type": "integer",
                        "format": "integer"
                    }
                ],
                "tags": [
                    "taxonnames"
                ],
                "responses": {
                    "200": {
                        "description": "An array with links to the name which is the accepted name in the context of the default project or an empty array if no accepted names is assigned",
                        "schema": {
                            "type": "array",
                            "items": {
                                "$ref": "#/definitions/Acceptednameresult"
                            }
                        }
                    },
                    "default": {
                        "description": "Unexpected error",
                        "schema": {
                            "$ref": "#/definitions/Error"
                        }
                    }
                }
            }
        },        
        "/names/{database}/{nameid}/synonyms": {
            "get": {
                "summary": "Synonyms",
                "description": "A list of synonymic names for this taxonomic name",
                "parameters": [
                    {
                        "name": "database",
                        "in": "path",
                        "description": "database name",
                        "required": true,
                        "type": "string",
                        "format": "string"
                    },
                    {
                        "name": "nameid",
                        "in": "path",
                        "description": "database unique id of the taxonomic name",
                        "required": true,
                        "type": "integer",
                        "format": "integer"
                    }
                ],
                "tags": [
                    "taxonnames"
                ],
                "responses": {
                    "200": {
                        "description": "An array with links to the synonyms or an empty array if no synonyms are stored",
                        "schema": {
                            "type": "array",
                            "items": {
                                "$ref": "#/definitions/Synonymnamelink"
                            }
                        }
                    },
                    "default": {
                        "description": "Unexpected error",
                        "schema": {
                            "$ref": "#/definitions/Error"
                        }
                    }
                }
            }
        },       
        "/names/{database}/{nameid}/hierarchies": {
            "get": {
                "summary": "the parents of all available hierachies for this taxonomic name",
                "description": "A list of links to parent names for this taxonomic name",
                "parameters": [
                    {
                        "name": "database",
                        "in": "path",
                        "description": "database name",
                        "required": true,
                        "type": "string",
                        "format": "string"
                    },
                    {
                        "name": "nameid",
                        "in": "path",
                        "description": "database unique id of the taxonomic name",
                        "required": true,
                        "type": "integer",
                        "format": "integer"
                    }
                ],
                "tags": [
                    "taxonnames"
                ],
                "responses": {
                    "200": {
                        "description": "An array with links to the parent names or an empty array if no hierachies are stored or no parent is available",
                        "schema": {
                            "type": "array",
                            "items": {
                                "$ref": "#/definitions/Hierarchylink"
                            }
                        }
                    },
                    "default": {
                        "description": "Unexpected error",
                        "schema": {
                            "$ref": "#/definitions/Error"
                        }
                    }
                }
            }
        },        
        "/names/{database}/{nameid}/lists": {
            "get": {
                "summary": "A list of all taxonomic lists in this database which contain this taxonomic name",
                "description": "A list of links to taxonomic lists which contain this taxonomic name in this database. Additionally a link to possible analysis categories is given.",
                "parameters": [
                    {
                        "name": "database",
                        "in": "path",
                        "description": "database name",
                        "required": true,
                        "type": "string",
                        "format": "string"
                    },
                    {
                        "name": "nameid",
                        "in": "path",
                        "description": "database unique id of the taxonomic name",
                        "required": true,
                        "type": "integer",
                        "format": "integer"
                    }
                ],
                "tags": [
                    "taxonnames"
                ],
                "responses": {
                    "200": {
                        "description": "An array with links to the lists or an empty array if the name is in no list in this database",
                        "schema": {
                            "type": "array",
                            "items": {
                                "$ref": "#/definitions/listslink"
                            }
                        }
                    },
                    "default": {
                        "description": "Unexpected error",
                        "schema": {
                            "$ref": "#/definitions/Error"
                        }
                    }
                }
            }
        },
        "/names/{database}/{nameid}/externalidentifiers": {
            "get": {
                "summary": "links to external sources",
                "description": "Direct references to external sources for the same name. The URIs are the external identifiers.",
                "parameters": [
                    {
                        "name": "database",
                        "in": "path",
                        "description": "database name",
                        "required": true,
                        "type": "string",
                        "format": "string"
                    },
                    {
                        "name": "nameid",
                        "in": "path",
                        "description": "database unique id of the taxonomic name",
                        "required": true,
                        "type": "number",
                        "format": "integer"
                    }
                ],
                "tags": [
                    "taxonnames"
                    ],
                "responses": {
                    "200": {
                        "description": "An array with links to the external identifiers or an empty array if no external identifiers are available",
                        "schema": {
                            "type": "array",
                            "items": {
                                "$ref": "#/definitions/ExternalIdentifiers"
                            }
                        }
                    },
                    "default": {
                        "description": "Unexpected error",
                        "schema": {
                            "$ref": "#/definitions/Error"
                        }
                    }
                }
            }
        },
        
        "/lists": {
            "get": {
                "summary": "Taxonomic name lists",
                "description": "Links to all lists on this server\n",
                "tags": [
                    "lists"
                ],
                "responses": {
                    "200": {
                        "description": "A list of urls to to all taxonomic name lists and urls to the project which defined this list",
                        "schema": {
                            "type": "array",
                            "items": {
                                "$ref": "#/definitions/Listlist"
                            }
                        }
                    }
                }
            }
        },
        "/lists/{database}/{listid}": {
            "get": {
                "summary": "links to all taxonomic names in this specific list",
                "description": "List of links to taxonomic names which are stored in this list",
                "parameters": [
                    {
                        "name": "database",
                        "in": "path",
                        "description": "database name",
                        "required": true,
                        "type": "string",
                        "format": "string"
                    },
                    {
                        "name": "listid",
                        "in": "path",
                        "description": "database unique id of the list",
                        "required": true,
                        "type": "integer",
                        "format": "integer"
                    }
                ],
                "tags": [
                    "lists"
                ],
                "responses": {
                    "200": {
                        "description": "An array with links to the taxonomic names or an empty array if no hierachies are stored or no parent is available",
                        "schema": {
                            "type": "array",
                            "items": {
                                "$ref": "#/definitions/Taxonnamelink"
                            }
                        }
                    },
                    "default": {
                        "description": "Unexpected error",
                        "schema": {
                            "$ref": "#/definitions/Error"
                        }
                    }
                }
            }
        },
        "/lists/{database}/{listid}/project": {
            "get": {
                "summary": "link to the project",
                "description": "A list with one link to the project which defines this list",
                "parameters": [
                    {
                        "name": "database",
                        "in": "path",
                        "description": "database name",
                        "required": true,
                        "type": "string",
                        "format": "string"
                    },
                    {
                        "name": "listid",
                        "in": "path",
                        "description": "database unique id of the list",
                        "required": true,
                        "type": "integer",
                        "format": "integer"
                    }
                ],
                "tags": [
                    "lists"
                ],
                "responses": {
                    "200": {
                        "description": "An array with one item which contains a link list to the project",
                        "schema": {
                            "type": "array",
                            "items": {
                                "$ref": "#/definitions/Projectlink"
                            }
                        }
                    },
                    "default": {
                        "description": "Unexpected error",
                        "schema": {
                            "$ref": "#/definitions/Error"
                        }
                    }
                }
            }
        },
        "/lists/{database}/{listid}/analysis": {
            "get": {
                "summary": "link to analysisids",
                "description": "A list with all analysis categories associated with this list",
                "parameters": [
                    {
                        "name": "database",
                        "in": "path",
                        "description": "database name",
                        "required": true,
                        "type": "string",
                        "format": "string"
                    },
                    {
                        "name": "listid",
                        "in": "path",
                        "description": "database unique id of the list",
                        "required": true,
                        "type": "integer",
                        "format": "integer"
                    }
                ],
                "tags": [
                    "lists"
                ],
                "responses": {
                    "200": {
                        "description": "An array listing all analysis category IDs with links to the category definition and to the items of the list associated with this analysis category",
                        "schema": {
                            "type": "array",
                            "items": {
                                "$ref": "#/definitions/ListAnalysisCategorieslink"
                            }
                        }
                    },
                    "default": {
                        "description": "Unexpected error",
                        "schema": {
                            "$ref": "#/definitions/Error"
                        }
                    }
                }
            }
        },
        "/lists/{database}/{listid}/analysis/{analysisid}": {
            "get": {
                "summary": "link to all list items with the given analysis category",
                "description": "<p>A list with all list items associated with this analysis id, optinal limiting query parameters can be provided.</p><p>The parameters can limit the resultset to a specific TaxonNameListReferenceID which is otherwise ignored.</p><p>The operator and the value parameters represents simple SQL-like result limiting possiblity</p>",
                "parameters": [
                    {
                        "name": "database",
                        "in": "path",
                        "description": "database name",
                        "required": true,
                        "type": "string",
                        "format": "string"
                    },
                    {
                        "name": "listid",
                        "in": "path",
                        "description": "database unique id of the list",
                        "required": true,
                        "type": "integer",
                        "format": "integer"
                    },
                    {
                        "name": "analysisid",
                        "in": "path",
                        "description": "database unique id of the analysis category",
                        "required": true,
                        "type": "integer",
                        "format": "integer"
                    },
                    {
                        "name": "value",
                        "in": "query",
                        "description": "analysis value to seach for",
                        "required": false,
                        "type": "string",
                        "format": "string"
                    },
                    {
                        "name": "op",
                        "in": "query",
                        "description": "comparison operator for the seach (eq, lt, gt, le, ge, ne, like, notlike)",
                        "required": false,
                        "type": "string",
                        "format": "string",
                        "default": "="
                    },
                    {
                        "name": "refid",
                        "in": "query",
                        "description": "optional reference id to limit the results to a specific TaxonNameListReferenceID",
                        "required": false,
                        "type": "integer",
                        "format": "integer",
                        "default": -1
                    }
                    
                ],
                "tags": [
                    "lists"
                ],
                "responses": {
                    "200": {
                        "description": "An array listing all list items having a analysis value assignd in that analysis categroy",
                        "schema": {
                            "type": "array",
                            "items": {
                                "$ref": "#/definitions/ListAnalysisNames"
                            }
                        }
                    },
                    "default": {
                        "description": "Unexpected error",
                        "schema": {
                            "$ref": "#/definitions/Error"
                        }
                    }
                }
            }
        },
        "/lists/{database}/{listid}/analysisfromreference/{referenceid}": {
            "get": {
                "summary": "link to the analysis cetegories in this list which indirectly have a reference to the given referenceid",
                "description": "<p>Returns all analysis categories which (indirectly) have a link to the given referenceid.</p><p>This means that a parent analysis categorie might be pointing to this referenceid or to a child of this referenceid.</p><p>Example: <a href='/lists/DiversityTaxonNames_Insecta/863/analysisfromreference/699074100'>All analysis categories which indirectly refrencing the given Rote Liste publications</a>.</p><p>This indirection over two hierarchies was necessary as normaly only a parent analysis categorie is linked to a referenceid and those referenceids are normaly only books of a series. With this implementation all analysis categories of a complete series of books for this list can be retrieved.</p>",
                "parameters": [
                    {
                        "name": "database",
                        "in": "path",
                        "description": "database name",
                        "required": true,
                        "type": "string",
                        "format": "string"
                    },
                    {
                        "name": "listid",
                        "in": "path",
                        "description": "database unique id of the list",
                        "required": true,
                        "type": "integer",
                        "format": "integer"
                    },
                    {
                        "name": "referenceid",
                        "in": "path",
                        "description": "database unique id of the reference",
                        "required": true,
                        "type": "integer",
                        "format": "integer"
                    }
                ],
                "tags": [
                    "lists"
                ],
                "responses": {
                    "200": {
                        "description": "An array with analysis category definitions and links to optional parent and child analysis categories and to optional defined nominal analysis values for this analysis category",
                        "schema": {
                            "type": "array",
                            "items": {
                                "$ref": "#/definitions/AnalysisCategories"
                            }
                        }
                    },
                    "default": {
                        "description": "Unexpected error",
                        "schema": {
                            "$ref": "#/definitions/Error"
                        }
                    }
                }
            }
        },        
        "/projects": {
            "get": {
                "summary": "returns null",
                "description": "Links to all projects on this server. Not implemented.",
                "tags": [
                    "projects"
                ],
                "responses": {
                    "200": {
                        "description": "returns allways null",
                        "schema": {
                            "type": "string"
                        }
                    }
                }
            }
        },
        "/projects/{projectid}": {
            "get": {
                "summary": "a specific project description on this server",
                "description": "An array with one element which represents the description of the selected project",
                "parameters": [
                    {
                        "name": "projectid",
                        "in": "path",
                        "description": "server unique id of the project",
                        "required": true,
                        "type": "integer",
                        "format": "integer"
                    }
                ],
                "tags": [
                    "projects"
                ],
                "responses": {
                    "200": {
                        "description": "An array with one item which contains the project dataset",
                        "schema": {
                            "type": "array",
                            "items": {
                                "$ref": "#/definitions/Project"
                            }
                        }
                    },
                    "default": {
                        "description": "Unexpected error",
                        "schema": {
                            "$ref": "#/definitions/Error"
                        }
                    }
                }
            }
        },
        "/projects/{projectid}/agents": {
            "get": {
                "summary": "all agents for this project",
                "description": "An array with links to all agents of this project",
                "parameters": [
                    {
                        "name": "projectid",
                        "in": "path",
                        "description": "server unique id of the project",
                        "required": true,
                        "type": "integer",
                        "format": "integer"
                    }
                ],
                "tags": [
                    "projects"
                ],
                "responses": {
                    "200": {
                        "description": "An array with one item which contains the project dataset",
                        "schema": {
                            "type": "array",
                            "items": {
                                "$ref": "#/definitions/Agentlist"
                            }
                        }
                    },
                    "default": {
                        "description": "Unexpected error",
                        "schema": {
                            "$ref": "#/definitions/Error"
                        }
                    }
                }
            }
        },
        "/projects/{projectid}/agents/{string:agenthash}": {
            "get": {
                "summary": "all rolls for this agent in this project",
                "description": "An array with all rolls which the given agents has in this project",
                "parameters": [
                    {
                        "name": "projectid",
                        "in": "path",
                        "description": "server unique id of the project",
                        "required": true,
                        "type": "integer",
                        "format": "integer"
                    },
                    {
                        "name": "agenthash",
                        "in": "path",
                        "description": "an internal identifier of the agent in this project",
                        "required": true,
                        "type": "string",
                        "format": "string"
                    }
                ],
                "tags": [
                    "projects"
                ],
                "responses": {
                    "200": {
                        "description": "An array with items which contains the project rolls",
                        "schema": {
                            "type": "array",
                            "items": {
                                "$ref": "#/definitions/Agentlist"
                            }
                        }
                    },
                    "default": {
                        "description": "Unexpected error",
                        "schema": {
                            "$ref": "#/definitions/Error"
                        }
                    }
                }
            }
        },
        "/projects/{projectid}/references": {
            "get": {
                "summary": "literature references",
                "description": "An array with links to all references of this project",
                "parameters": [
                    {
                        "name": "projectid",
                        "in": "path",
                        "description": "server unique id of the project",
                        "required": true,
                        "type": "integer",
                        "format": "integer"
                    }
                ],
                "tags": [
                    "projects"
                ],
                "responses": {
                    "200": {
                        "description": "An array with items for all project associated references",
                        "schema": {
                            "type": "array",
                            "items": {
                                "$ref": "#/definitions/Referencelink"
                            }
                        }
                    },
                    "default": {
                        "description": "Unexpected error",
                        "schema": {
                            "$ref": "#/definitions/Error"
                        }
                    }
                }
            }
        },
        "/Agents_TNT/{agentid}": {
            "get": {
                "summary": "description of this agents",
                "description": "An array one item, describing the agent",
                "parameters": [
                    {
                        "name": "agentid",
                        "in": "path",
                        "description": "server unique id of the agent",
                        "required": true,
                        "type": "integer",
                        "format": "integer"
                    }
                ],
                "tags": [
                    "agents"
                ],
                "responses": {
                    "200": {
                        "description": "An array with one item which contains the agent dataset",
                        "schema": {
                            "type": "array",
                            "items": {
                                "$ref": "#/definitions/Agent"
                            }
                        }
                    },
                    "default": {
                        "description": "Unexpected error",
                        "schema": {
                            "$ref": "#/definitions/Error"
                        }
                    }
                }
            }
        },
        "/commonnames/": {
            "get": {
                "summary": "Query the common name dataset",
                "description": "Exact search on all common names",
                "parameters": [
                    {
                        "name": "exactcommonname",
                        "in": "query",
                        "description": "Exact common name to search",
                        "required": true,
                        "type": "string",
                        "format": "string"
                    }
                ],
                "tags": [
                    "taxonnames"
                ],
                "responses": {
                    "200": {
                        "description": "An array with elements, containing the commonname dataset",
                        "schema": {
                            "type": "array",
                            "items": {
                                "$ref": "#/definitions/Commonname"
                            }
                        }
                    },
                    "default": {
                        "description": "Unexpected error",
                        "schema": {
                            "$ref": "#/definitions/Error"
                        }
                    }
                }
            }
        },        
        "/commonnames/{databaseid}/{nameid}/{cid}": {
            "get": {
                "summary": "the common name dataset",
                "description": "An array with one element containing the commonname dataset",
                "parameters": [
                    {
                        "name": "databaseid",
                        "in": "path",
                        "description": "database name",
                        "required": true,
                        "type": "string",
                        "format": "string"
                    },
                    {
                        "name": "nameid",
                        "in": "path",
                        "description": "database unique id of the taxonomic name",
                        "required": true,
                        "type": "integer",
                        "format": "integer"
                    },
                    {
                        "name": "cid",
                        "in": "path",
                        "description": "database unique id of the common name, URL-encoded",
                        "required": true,
                        "type": "string",
                        "format": "string"
                    }
                ],
                "tags": [
                    "taxonnames"
                ],
                "responses": {
                    "200": {
                        "description": "An array with one element, containing the commonname dataset",
                        "schema": {
                            "type": "array",
                            "items": {
                                "$ref": "#/definitions/Commonname"
                            }
                        }
                    },
                    "default": {
                        "description": "Unexpected error",
                        "schema": {
                            "$ref": "#/definitions/Error"
                        }
                    }
                }
            }
        },
        "/acceptednames/{databaseid}/{projectid}/{nameid}": {
            "get": {
                "summary": "the accepted name",
                "description": "An array with one element containing the accepted name dataset",
                "parameters": [
                    {
                        "name": "databaseid",
                        "in": "path",
                        "description": "database name",
                        "required": true,
                        "type": "string",
                        "format": "string"
                    },
                    {
                        "name": "projectid",
                        "in": "path",
                        "description": "database unique id of the project in which this name is defined as accepted",
                        "required": true,
                        "type": "integer",
                        "format": "integer"
                    },
                    {
                        "name": "nameid",
                        "in": "path",
                        "description": "database unique id of the name",
                        "required": true,
                        "type": "integer",
                        "format": "integer"
                    }
                ],
                "tags": [
                    "taxonnames"
                ],
                "responses": {
                    "200": {
                        "description": "An array with one element, containing the accepted name dataset and a link to the defining project",
                        "schema": {
                            "type": "array",
                            "items": {
                                "$ref": "#/definitions/Acceptedname"
                            }
                        }
                    },
                    "default": {
                        "description": "Unexpected error",
                        "schema": {
                            "$ref": "#/definitions/Error"
                        }
                    }
                }
            }
        },
        "/synonymy/{databaseid}/{projectid}/{nameid}/{synnameid}": {
            "get": {
                "summary": "Synonyms",
                "description": "An array with a links to the synonym",
                "parameters": [
                    {
                        "name": "databaseid",
                        "in": "path",
                        "description": "database name",
                        "required": true,
                        "type": "string",
                        "format": "string"
                    },
                    {
                        "name": "projectid",
                        "in": "path",
                        "description": "database unique id of the project in which this synonym is defined",
                        "required": true,
                        "type": "integer",
                        "format": "integer"
                    },
                    {
                        "name": "nameid",
                        "in": "path",
                        "description": "database unique id of the name",
                        "required": true,
                        "type": "integer",
                        "format": "integer"
                    },
                    {
                        "name": "synnameid",
                        "in": "path",
                        "description": "database unique id of the synonym name",
                        "required": true,
                        "type": "integer",
                        "format": "integer"
                    }
                ],
                "tags": [
                    "taxonnames"
                ],
                "responses": {
                    "200": {
                        "description": "An array with one element containing a link to the synonym",
                        "schema": {
                            "type": "array",
                            "items": {
                                "$ref": "#/definitions/Synonymname"
                            }
                        }
                    },
                    "default": {
                        "description": "Unexpected error",
                        "schema": {
                            "$ref": "#/definitions/Error"
                        }
                    }
                }
            }
        },
        "/hierarchy/{databaseid}/{projectid}/{nameid}": {
            "get": {
                "summary": "the parent name and the hierarchy defining project",
                "description": "An array with links to the parent name in the hierarchy and to the hierarchy defining project",
                "parameters": [
                    {
                        "name": "databaseid",
                        "in": "path",
                        "description": "database name",
                        "required": true,
                        "type": "string",
                        "format": "string"
                    },
                    {
                        "name": "projectid",
                        "in": "path",
                        "description": "database unique id of the project which defined the hierarchy",
                        "required": true,
                        "type": "integer",
                        "format": "integer"
                    },
                    {
                        "name": "nameid",
                        "in": "path",
                        "description": "database unique id of the taxonomic name",
                        "required": true,
                        "type": "integer",
                        "format": "integer"
                    }
                ],
                "tags": [
                    "taxonnames"
                ],
                "responses": {
                    "200": {
                        "description": "An array with references to the hierarchy, and links to the project and the parent name",
                        "schema": {
                            "type": "array",
                            "items": {
                                "$ref": "#/definitions/Hierarchy"
                            }
                        }
                    },
                    "default": {
                        "description": "Unexpected error",
                        "schema": {
                            "$ref": "#/definitions/Error"
                        }
                    }
                }
            }
        },
        "/hierarchy/{databaseid}/{projectid}/{nameid}/full": {
            "get": {
                "summary": "All parent names and the hierarchy defining projects",
                "description": "An array with links to all parent names in the hierarchy and to the hierarchy defining project",
                "parameters": [
                    {
                        "name": "databaseid",
                        "in": "path",
                        "description": "database name",
                        "required": true,
                        "type": "string",
                        "format": "string"
                    },
                    {
                        "name": "projectid",
                        "in": "path",
                        "description": "database unique id of the project which defined the hierarchy",
                        "required": true,
                        "type": "integer",
                        "format": "integer"
                    },
                    {
                        "name": "nameid",
                        "in": "path",
                        "description": "database unique id of the taxonomic name",
                        "required": true,
                        "type": "integer",
                        "format": "integer"
                    }
                ],
                "tags": [
                    "taxonnames"
                ],
                "responses": {
                    "200": {
                        "description": "An array with references to all parents of the given name in the given hierarchy",
                        "schema": {
                            "type": "array",
                            "items": {
                                "$ref": "#/definitions/Hierarchyfull"
                            }
                        }
                    },
                    "default": {
                        "description": "Unexpected error",
                        "schema": {
                            "$ref": "#/definitions/Error"
                        }
                    }
                }
            }
        },
        "/references": {
            "get": {
                "summary": "literature references",
                "description": "An array with links to the literature references",
                "tags": [
                    "references"
                ],
                "responses": {
                    "200": {
                        "description": "An array with links to the reference datasets",
                        "schema": {
                            "type": "array",
                            "items": {
                                "$ref": "#/definitions/Referencelink"
                            }
                        }
                    },
                    "default": {
                        "description": "Unexpected error",
                        "schema": {
                            "$ref": "#/definitions/Error"
                        }
                    }
                }
            }
        },
        "/references/{databaseid}/{referenceid}": {
            "get": {
                "summary": "a specific literature reference",
                "description": "An array with links to the parent name in the hierarchy and to the hierarchy defining project",
                "parameters": [
                    {
                        "name": "databaseid",
                        "in": "path",
                        "description": "database name",
                        "required": true,
                        "type": "string",
                        "format": "string"
                    },
                    {
                        "name": "referenceid",
                        "in": "path",
                        "description": "database unique id of the reference",
                        "required": true,
                        "type": "integer",
                        "format": "integer"
                    }
                ],
                "tags": [
                    "references"
                ],
                "responses": {
                    "200": {
                        "description": "An array with one element containing the dataset of the literature reference",
                        "schema": {
                            "type": "array",
                            "items": {
                                "$ref": "#/definitions/Reference"
                            }
                        }
                    },
                    "default": {
                        "description": "Unexpected error",
                        "schema": {
                            "$ref": "#/definitions/Error"
                        }
                    }
                }
            }
        },
        "/references/{databaseid}/{referenceid}/relations": {
            "get": {
                "summary": "a specific literature reference relation",
                "description": "An array with the datasets and links to all relations on the literature reference. \\ Mostly the author list of the reference. \\ The links are only for referencing an specific relation.",
                "parameters": [
                    {
                        "name": "databaseid",
                        "in": "path",
                        "description": "database name",
                        "required": true,
                        "type": "string",
                        "format": "string"
                    },
                    {
                        "name": "referenceid",
                        "in": "path",
                        "description": "database unique id of the reference",
                        "required": true,
                        "type": "integer",
                        "format": "integer"
                    }
                ],
                "tags": [
                    "references"
                ],
                "responses": {
                    "200": {
                        "description": "An array with relations to the specific literature reference",
                        "schema": {
                            "type": "array",
                            "items": {
                                "$ref": "#/definitions/Referencerelationslink"
                            }
                        }
                    },
                    "default": {
                        "description": "Unexpected error",
                        "schema": {
                            "$ref": "#/definitions/Error"
                        }
                    }
                }
            }
        },        
        "/references/{databaseid}/{referenceid}/childs": {
            "get": {
                "summary": "links to sub/chapters or items in a series",
                "description": "An array with links to possible child references which can be chapters, subchapters or items in a series.",
                "parameters": [
                    {
                        "name": "databaseid",
                        "in": "path",
                        "description": "database name",
                        "required": true,
                        "type": "string",
                        "format": "string"
                    },
                    {
                        "name": "referenceid",
                        "in": "path",
                        "description": "database unique id of the reference",
                        "required": true,
                        "type": "integer",
                        "format": "integer"
                    }
                ],
                "tags": [
                    "references"
                ],
                "responses": {
                    "200": {
                        "description": "An array with relations to the specific literature child reference",
                        "schema": {
                            "type": "array",
                            "items": {
                                "$ref": "#/definitions/Referencelink"
                            }
                        }
                    },
                    "default": {
                        "description": "Unexpected error",
                        "schema": {
                            "$ref": "#/definitions/Error"
                        }
                    }
                }
            }
        },
        "/references/{databaseid}/{referenceid}/referencing": {
            "get": {
                "summary": "List of links to datasets",
                "description": "A list of links which provide information on datasets citing this reference.",
                "parameters": [
                    {
                        "name": "databaseid",
                        "in": "path",
                        "description": "database name",
                        "required": true,
                        "type": "string",
                        "format": "string"
                    },
                    {
                        "name": "referenceid",
                        "in": "path",
                        "description": "database unique id of the reference",
                        "required": true,
                        "type": "integer",
                        "format": "integer"
                    }
                ],
                "tags": [
                    "references"
                ],
                "responses": {
                    "200": {
                        "description": "A list with links",
                        "schema": {
                            "type": "array",
                            "items": {
                                "$ref": "#/definitions/Referinglinks"
                            }
                        }
                    },
                    "default": {
                        "description": "Unexpected error",
                        "schema": {
                            "$ref": "#/definitions/Error"
                        }
                    }
                }
            }
        },
        "/references/{databaseid}/{referenceid}/referencing/agents": {
            "get": {
                "summary": "List of links to agents",
                "description": "A list of links to agent-datasets citing this reference.",
                "parameters": [
                    {
                        "name": "databaseid",
                        "in": "path",
                        "description": "database name",
                        "required": true,
                        "type": "string",
                        "format": "string"
                    },
                    {
                        "name": "referenceid",
                        "in": "path",
                        "description": "database unique id of the reference",
                        "required": true,
                        "type": "integer",
                        "format": "integer"
                    }
                ],
                "tags": [
                    "references"
                ],
                "responses": {
                    "200": {
                        "description": "A list with links to agents",
                        "schema": {
                            "type": "array",
                            "items": {
                                "$ref": "#/definitions/Agentlists"
                            }
                        }
                    },
                    "default": {
                        "description": "Unexpected error",
                        "schema": {
                            "$ref": "#/definitions/Error"
                        }
                    }
                }
            }
        },        
        "/references/{databaseid}/{referenceid}/referencing/analyisis": {
            "get": {
                "summary": "List of links to analysis categories",
                "description": "A list of links to analysiscategorie-datasets citing this reference.",
                "parameters": [
                    {
                        "name": "databaseid",
                        "in": "path",
                        "description": "database name",
                        "required": true,
                        "type": "string",
                        "format": "string"
                    },
                    {
                        "name": "referenceid",
                        "in": "path",
                        "description": "database unique id of the reference",
                        "required": true,
                        "type": "integer",
                        "format": "integer"
                    }
                ],
                "tags": [
                    "references"
                ],
                "responses": {
                    "200": {
                        "description": "A list with links to analysis categories",
                        "schema": {
                            "type": "array",
                            "items": {
                                "$ref": "#/definitions/AnalysisCategoryLinks"
                            }
                        }
                    },
                    "default": {
                        "description": "Unexpected error",
                        "schema": {
                            "$ref": "#/definitions/Error"
                        }
                    }
                }
            }
        },        
        "/references/{databaseid}/{referenceid}/referencing/commonnames": {
            "get": {
                "summary": "List of links to common names",
                "description": "A list of links to common name datasets citing this reference.",
                "parameters": [
                    {
                        "name": "databaseid",
                        "in": "path",
                        "description": "database name",
                        "required": true,
                        "type": "string",
                        "format": "string"
                    },
                    {
                        "name": "referenceid",
                        "in": "path",
                        "description": "database unique id of the reference",
                        "required": true,
                        "type": "integer",
                        "format": "integer"
                    }
                ],
                "tags": [
                    "references"
                ],
                "responses": {
                    "200": {
                        "description": "A list with links to common names",
                        "schema": {
                            "type": "array",
                            "items": {
                                "$ref": "#/definitions/Commonnamelinks"
                            }
                        }
                    },
                    "default": {
                        "description": "Unexpected error",
                        "schema": {
                            "$ref": "#/definitions/Error"
                        }
                    }
                }
            }
        },        
        "/references/{databaseid}/{referenceid}/referencing/taxonlists": {
            "get": {
                "summary": "List of links to taxonnomic lists",
                "description": "A list of links to taxonomic lists containing names citing this reference.",
                "parameters": [
                    {
                        "name": "databaseid",
                        "in": "path",
                        "description": "database name",
                        "required": true,
                        "type": "string",
                        "format": "string"
                    },
                    {
                        "name": "referenceid",
                        "in": "path",
                        "description": "database unique id of the reference",
                        "required": true,
                        "type": "integer",
                        "format": "integer"
                    }
                ],
                "tags": [
                    "references"
                ],
                "responses": {
                    "200": {
                        "description": "A list with links to taxonlists and list-projects",
                        "schema": {
                            "type": "array",
                            "items": {
                                "$ref": "#/definitions/listslinks"
                            }
                        }
                    },
                    "default": {
                        "description": "Unexpected error",
                        "schema": {
                            "$ref": "#/definitions/Error"
                        }
                    }
                }
            }
        },        
        "/references/{databaseid}/{referenceid}/referencing/names": {
            "get": {
                "summary": "List of links to taxonnomic names",
                "description": "A list of links to taxonomic names citing this reference.",
                "parameters": [
                    {
                        "name": "databaseid",
                        "in": "path",
                        "description": "database name",
                        "required": true,
                        "type": "string",
                        "format": "string"
                    },
                    {
                        "name": "referenceid",
                        "in": "path",
                        "description": "database unique id of the reference",
                        "required": true,
                        "type": "integer",
                        "format": "integer"
                    }
                ],
                "tags": [
                    "references"
                ],
                "responses": {
                    "200": {
                        "description": "A list with links to taxonomic names",
                        "schema": {
                            "type": "array",
                            "items": {
                                "$ref": "#/definitions/Taxonnamelinks"
                            }
                        }
                    },
                    "default": {
                        "description": "Unexpected error",
                        "schema": {
                            "$ref": "#/definitions/Error"
                        }
                    }
                }
            }
        },        
        "/references/{databaseid}/{referenceid}/referencing/acceptednames": {
            "get": {
                "summary": "List of links to accepted names",
                "description": "A list of links to accepted names citing this reference.",
                "parameters": [
                    {
                        "name": "databaseid",
                        "in": "path",
                        "description": "database name",
                        "required": true,
                        "type": "string",
                        "format": "string"
                    },
                    {
                        "name": "referenceid",
                        "in": "path",
                        "description": "database unique id of the reference",
                        "required": true,
                        "type": "integer",
                        "format": "integer"
                    }
                ],
                "tags": [
                    "references"
                ],
                "responses": {
                    "200": {
                        "description": "A list with links to accepted names",
                        "schema": {
                            "type": "array",
                            "items": {
                                "$ref": "#/definitions/Acceptednamelinks"
                            }
                        }
                    },
                    "default": {
                        "description": "Unexpected error",
                        "schema": {
                            "$ref": "#/definitions/Error"
                        }
                    }
                }
            }
        },        
        "/references/{databaseid}/{referenceid}/referencing/synonyms": {
            "get": {
                "summary": "List of links to synonyms",
                "description": "A list of links to synonyms citing this reference.",
                "parameters": [
                    {
                        "name": "databaseid",
                        "in": "path",
                        "description": "database name",
                        "required": true,
                        "type": "string",
                        "format": "string"
                    },
                    {
                        "name": "referenceid",
                        "in": "path",
                        "description": "database unique id of the reference",
                        "required": true,
                        "type": "integer",
                        "format": "integer"
                    }
                ],
                "tags": [
                    "references"
                ],
                "responses": {
                    "200": {
                        "description": "A list with links to synonym names",
                        "schema": {
                            "type": "array",
                            "items": {
                                "$ref": "#/definitions/Synonymnamelinks"
                            }
                        }
                    },
                    "default": {
                        "description": "Unexpected error",
                        "schema": {
                            "$ref": "#/definitions/Error"
                        }
                    }
                }
            }
        },        
        "/references/{databaseid}/{referenceid}/referencing/hierarchies": {
            "get": {
                "summary": "List of links to hierarchies",
                "description": "A list of links to hierarchies citing this reference.",
                "parameters": [
                    {
                        "name": "databaseid",
                        "in": "path",
                        "description": "database name",
                        "required": true,
                        "type": "string",
                        "format": "string"
                    },
                    {
                        "name": "referenceid",
                        "in": "path",
                        "description": "database unique id of the reference",
                        "required": true,
                        "type": "integer",
                        "format": "integer"
                    }
                ],
                "tags": [
                    "references"
                ],
                "responses": {
                    "200": {
                        "description": "A list with links to hierarchies",
                        "schema": {
                            "type": "array",
                            "items": {
                                "$ref": "#/definitions/Hierarchylinks"
                            }
                        }
                    },
                    "default": {
                        "description": "Unexpected error",
                        "schema": {
                            "$ref": "#/definitions/Error"
                        }
                    }
                }
            }
        },        
        "/references/{databaseid}/{referenceid}/referencing/projects": {
            "get": {
                "summary": "List of links to projects",
                "description": "A list of links to projects citing this reference.",
                "parameters": [
                    {
                        "name": "databaseid",
                        "in": "path",
                        "description": "database name",
                        "required": true,
                        "type": "string",
                        "format": "string"
                    },
                    {
                        "name": "referenceid",
                        "in": "path",
                        "description": "database unique id of the reference",
                        "required": true,
                        "type": "integer",
                        "format": "integer"
                    }
                ],
                "tags": [
                    "references"
                ],
                "responses": {
                    "200": {
                        "description": "A list with links to projects",
                        "schema": {
                            "type": "array",
                            "items": {
                                "$ref": "#/definitions/Projectlinks"
                            }
                        }
                    },
                    "default": {
                        "description": "Unexpected error",
                        "schema": {
                            "$ref": "#/definitions/Error"
                        }
                    }
                }
            }
        },        
        "/referencerelation/{databaseid}/{referenceid}/{role}/{sequence}": {
            "get": {
                "summary": "a specific literature reference relation",
                "description": "An array with the datasets and links to all relations on the literature reference. \\ Mostly the author list of the reference.",
                "parameters": [
                    {
                        "name": "databaseid",
                        "in": "path",
                        "description": "database name",
                        "required": true,
                        "type": "string",
                        "format": "string"
                    },
                    {
                        "name": "referenceid",
                        "in": "path",
                        "description": "database unique id of the reference",
                        "required": true,
                        "type": "integer",
                        "format": "integer"
                    },
                    {
                        "name": "role",
                        "in": "path",
                        "description": "role of the relation, like aut for author.",
                        "required": true,
                        "type": "string",
                        "format": "string"
                    },
                    {
                        "name": "sequence",
                        "in": "path",
                        "description": "sequence number of the reference, like number of the author",
                        "required": true,
                        "type": "integer",
                        "format": "integer"
                    }
                ],
                "tags": [
                    "references"
                ],
                "responses": {
                    "200": {
                        "description": "An array with one relation to the specific literature reference",
                        "schema": {
                            "type": "array",
                            "items": {
                                "$ref": "#/definitions/Referencerelation"
                            }
                        }
                    },
                    "default": {
                        "description": "Unexpected error",
                        "schema": {
                            "$ref": "#/definitions/Error"
                        }
                    }
                }
            }
        },
        "/analysiscategories/": {
            "get": {
                "summary": "all used analysis categories in all lists",
                "description": "An array with the analysis category definitions and links to the analysis category, a parent category if given and optional defined categorial analysis values",
                "parameters": [
                ],
                "tags": [
                    "analysis"
                ],
                "responses": {
                    "200": {
                        "description": "An array with all used analysis categories",
                        "schema": {
                            "type": "array",
                            "items": {
                                "$ref": "#/definitions/LinksAnalysisCategories"
                            }
                        }
                    },
                    "default": {
                        "description": "Unexpected error",
                        "schema": {
                            "$ref": "#/definitions/Error"
                        }
                    }
                }
            }
        
        },
        "/analysiscategories/{databaseid}/{analysisid}": {
            "get": {
                "summary": "a specific analysis category definition",
                "description": "Definiton the analysis category with the given analysis ID",
                "parameters": [
                    {
                        "name": "databaseid",
                        "in": "path",
                        "description": "database name",
                        "required": true,
                        "type": "string",
                        "format": "string"
                    },
                    {
                        "name": "analysisid",
                        "in": "path",
                        "description": "database unique id of the analysis category",
                        "required": true,
                        "type": "integer",
                        "format": "integer"
                    }
                ],
                "tags": [
                    "analysis"
                ],
                "responses": {
                    "200": {
                        "description": "An array with one analysis category definition and links to optional parent and child analysis categories and to optional defined nominal analysis values for this analysis category",
                        "schema": {
                            "type": "array",
                            "items": {
                                "$ref": "#/definitions/AnalysisCategories"
                            }
                        }
                    },
                    "default": {
                        "description": "Unexpected error",
                        "schema": {
                            "$ref": "#/definitions/Error"
                        }
                    }
                }
            }
        },        
        "/analysiscategories/{databaseid}/{analysisid}/childs": {
            "get": {
                "summary": "List of all sub analysis category definitions",
                "description": "Generates a list of sub (child) analysis categories for the given analysis ID",
                "parameters": [
                    {
                        "name": "databaseid",
                        "in": "path",
                        "description": "database name",
                        "required": true,
                        "type": "string",
                        "format": "string"
                    },
                    {
                        "name": "analysisid",
                        "in": "path",
                        "description": "database unique id of the analysis category",
                        "required": true,
                        "type": "integer",
                        "format": "integer"
                    }
                ],
                "tags": [
                    "analysis"
                ],
                "responses": {
                    "200": {
                        "description": "An array with analysis category definitions and links to optional parent and child analysis categories and to optional defined nominal analysis values for this analysis category",
                        "schema": {
                            "type": "array",
                            "items": {
                                "$ref": "#/definitions/AnalysisCategories"
                            }
                        }
                    },
                    "default": {
                        "description": "Unexpected error",
                        "schema": {
                            "$ref": "#/definitions/Error"
                        }
                    }
                }
            }
        },        
        "/analysiscategories/{databaseid}/{analysisid}/projects": {
            "get": {
                "summary": "List of links to projects",
                "description": "Provides links to projects/lists which have tis analysis catetgory assignd to some of their items",
                "parameters": [
                    {
                        "name": "databaseid",
                        "in": "path",
                        "description": "database name",
                        "required": true,
                        "type": "string",
                        "format": "string"
                    },
                    {
                        "name": "analysisid",
                        "in": "path",
                        "description": "database unique id of the analysis category",
                        "required": true,
                        "type": "integer",
                        "format": "integer"
                    }
                ],
                "tags": [
                    "analysis"
                ],
                "responses": {
                    "200": {
                        "description": "An array with ",
                        "schema": {
                            "type": "array",
                            "items": {
                                "$ref": "#/definitions/ListAnalysisCategorieslink"
                            }
                        }
                    },
                    "default": {
                        "description": "Unexpected error",
                        "schema": {
                            "$ref": "#/definitions/Error"
                        }
                    }
                }
            }
        },
        "/analysiscategories/{databaseid}/{analysisid}/valuedefinitions": {
            "get": {
                "summary": "link to a list with predefined analysis values",
                "description": "Link to a list with all predefined (categorial) analysis values",
                "parameters": [
                    {
                        "name": "databaseid",
                        "in": "path",
                        "description": "database name",
                        "required": true,
                        "type": "string",
                        "format": "string"
                    },
                    {
                        "name": "analysisid",
                        "in": "path",
                        "description": "database unique id of the analysis category",
                        "required": true,
                        "type": "integer",
                        "format": "integer"
                    }
                ],
                "tags": [
                    "analysis"
                ],
                "responses": {
                    "200": {
                        "description": "An array with all analysis value definitions.",
                        "schema": {
                            "type": "array",
                            "items": {
                                "$ref": "#/definitions/AnalysisCategoryValues"
                            }
                        }
                    },
                    "default": {
                        "description": "Unexpected error",
                        "schema": {
                            "$ref": "#/definitions/Error"
                        }
                    }
                }
            }
        },        
        "/analysiscategorievalues/{databaseid}/{analysisid}/{analyisvalue}": {
            "get": {
                "summary": "predefined analysis value",
                "description": "A predefined (categorial) analysis values in this analysis category",
                "parameters": [
                    {
                        "name": "databaseid",
                        "in": "path",
                        "description": "database name",
                        "required": true,
                        "type": "string",
                        "format": "string"
                    },
                    {
                        "name": "analysisid",
                        "in": "path",
                        "description": "database unique id of the analysis category",
                        "required": true,
                        "type": "integer",
                        "format": "integer"
                    },
                    {
                        "name": "analyisvalue",
                        "in": "path",
                        "description": "analysis value url-encoded",
                        "required": true,
                        "type": "string",
                        "format": "string"
                    }                    
                ],
                "tags": [
                    "analysis"
                ],
                "responses": {
                    "200": {
                        "description": "An array with the analysis value definition.",
                        "schema": {
                            "type": "array",
                            "items": {
                                "$ref": "#/definitions/AnalysisCategoryValues"
                            }
                        }
                    },
                    "default": {
                        "description": "Unexpected error",
                        "schema": {
                            "$ref": "#/definitions/Error"
                        }
                    }
                }
            }
        },
        "/analysis/{databaseid}/{projectid}/{nameid}": {
            "get": {
                "summary": "link to a list with analysis categories for the given name",
                "description": "A list with the assigned analysis category for the given NameID",
                "parameters": [
                    {
                        "name": "databaseid",
                        "in": "path",
                        "description": "database name",
                        "required": true,
                        "type": "string",
                        "format": "string"
                    },
                    {
                        "name": "projectid",
                        "in": "path",
                        "description": "ProejctID of the list ",
                        "required": true,
                        "type": "integer",
                        "format": "integer"
                    },
                    {
                        "name": "nameid",
                        "in": "path",
                        "description": "NameID of the list item (the txonomic name)",
                        "required": true,
                        "type": "integer",
                        "format": "integer"
                    }
                ],
                "tags": [
                    "analysis"
                ],
                "responses": {
                    "200": {
                        "description": "An array with all analysis categories which are assigned to the given name with links to teh analysis categoriy definition and to the analysis values.",
                        "schema": {
                            "type": "array",
                            "items": {
                                "$ref": "#/definitions/ListAnalysisCategoriesfornamelink"
                            }
                        }
                    },
                    "default": {
                        "description": "Unexpected error",
                        "schema": {
                            "$ref": "#/definitions/Error"
                        }
                    }
                }
            }
        },
        "/analysis/{databaseid}/{projectid}/{nameid}/{analysisid}": {
            "get": {
                "summary": "link to a list with analysis values for the given name",
                "description": "A list with the assigned analysis value in the given analysis category for the given NameID",
                "parameters": [
                    {
                        "name": "databaseid",
                        "in": "path",
                        "description": "database name",
                        "required": true,
                        "type": "string",
                        "format": "string"
                    },
                    {
                        "name": "projectid",
                        "in": "path",
                        "description": "ProejctID of the list ",
                        "required": true,
                        "type": "integer",
                        "format": "integer"
                    },
                    {
                        "name": "nameid",
                        "in": "path",
                        "description": "NameID of the list item (the txonomic name)",
                        "required": true,
                        "type": "integer",
                        "format": "integer"
                    },                    {
                        "name": "analysisid",
                        "in": "path",
                        "description": "database unique id of the analysis category",
                        "required": true,
                        "type": "integer",
                        "format": "integer"
                    }
                ],
                "tags": [
                    "analysis"
                ],
                "responses": {
                    "200": {
                        "description": "An array with all analysis values for that name and links to the analysis category definition, to optional categorial analyis value definitions, to the list project and the taxonomic name.",
                        "schema": {
                            "type": "array",
                            "items": {
                                "$ref": "#/definitions/AnalysisValues"
                            }
                        }
                    },
                    "default": {
                        "description": "Unexpected error",
                        "schema": {
                            "$ref": "#/definitions/Error"
                        }
                    }
                }
            }
        },
        "/externalnameservice/{database}/{externalsourceid}": {
            "get": {
                "summary": "links to the external name services",
                "description": "get a list of links to external name services. These can be webservices or simple websites with the possibility to link directly to taxonomic name information",
                "parameters": [
                    {
                        "name": "database",
                        "in": "path",
                        "description": "database name",
                        "required": true,
                        "type": "string",
                        "format": "string"
                    },
                    {
                        "name": "externalsourceid",
                        "in": "path",
                        "description": "database unique id of the external source",
                        "required": true,
                        "type": "number",
                        "format": "integer"
                    }
                ],
                "tags": [
                    "external-sources"
                ],
                "responses": {
                    "200": {
                        "description": "An array with which contains information and links list to external name sources",
                        "schema": {
                            "type": "array",
                            "items": {
                                "$ref": "#/definitions/ExternalNameSource"
                            }
                        }
                    },
                    "default": {
                        "description": "Unexpected error",
                        "schema": {
                            "$ref": "#/definitions/Error"
                        }
                    }
                }
            }
        }

    },
    
    "definitions": {
        "Error": {
            "properties": {
                "code": {
                    "type": "integer",
                    "format": "int32"
                },
                "message": {
                    "type": "string"
                },
                "fields": {
                    "type": "string"
                }
            }
        },
        "Resultlist": {
            "properties": {
                "commonname": {
                    "type": "string"
                },
                "name": {
                    "type": "string"
                },
                "url": {
                    "type": "string",
                    "description": "Link/url to the found taxonomic name"  
                }
            }
        },
        "Link": {
            "properties": {
                "name": {
                    "type": "string"
                },
                "rel": {
                    "type": "string"
                },
                "type": {
                    "type": "string"
                },
                "uri": {
                    "type": "string"
                }
            }
        },
        "Taxonname": {
            "properties": {
                "AnamorphTeleomorph": {
                    "type": "string"
                },
                "BasionymAuthors": {
                    "type": "string"
                },
                "CombiningAuthors": {
                    "type": "string"
                },
                "DatabaseName": {
                    "type": "string"
                },
                "DefaultProjectID": {
                    "type": "integer",
                    "description": "Default Project-id to use for accepted name, hierarchy and synonymy if more than one is supplied"
                },                
                "GenusOrSupragenericName": {
                    "type": "string"
                },
                "IgnoreButKeepForReference": {
                    "type": "string"
                },
                "InfragenericEpithet": {
                    "type": "string"
                },
                "InfraspecificEpithet": {
                    "type": "string"
                },
                "IsRecombination": {
                    "type": "string"
                },
                "Issue": {
                    "type": "string"
                },
                "NameID": {
                    "type": "integer"
                },
                "NomenclaturalCode": {
                    "type": "string"
                },
                "NomenclaturalComment": {
                    "type": "string"
                },
                "NomenclaturalStatus": {
                    "type": "string"
                },
                "NonNomenclaturalNameSuffix": {
                    "type": "string"
                },
                "Pages": {
                    "type": "string"
                },
                "PublishingAuthors": {
                    "type": "string"
                },
                "ReferenceTitle": {
                    "type": "string"
                },
                "ReferenceURI": {
                    "type": "string"
                },
                "RevisionLevel": {
                    "type": "string"
                },
                "SanctioningAuthor": {
                    "type": "string"
                },
                "SpeciesEpithet": {
                    "type": "string"
                },
                "TaxonNameCache": {
                    "type": "string",
                    "description": "Combined cached taxonomic name"
                },
                "TaxonomicRankCode": {
                    "type": "string",
                    "description": "Abbreviation of the rank"
                },
                "TaxonomicRank": {
                    "type": "string",
                    "description": "Taxonomic rank, according to the DisplayText field of the code-ENUM"
                },
                "TypistNotes": {
                    "type": "string"
                },
                "Version": {
[...]
