{% extends "layout.html" %}
{% block body %}
<h2 class="swagger-ui-wrap">Verf&uuml;gbare Listen auf diesem Server:</h2>
<div class="project">
</div>
<script>
$.ajaxSetup({
    async: false
});
$.getJSON("{{ url_for('taxonlists', __external=T) }}", function(data) {
    var items = [];
    $.each( data, function( listentry ) {
        var listobject =  data[listentry]
        var projectlink = ""
        var listlink =""
        $.each( listobject.links, function (linkindex) {
            if (listobject.links[linkindex].name == 'listproject') {
                projectlink=listobject.links[linkindex]["uri"];
            };
            if (listobject.links[linkindex].name == 'taxonnamelist') {
                listlink=listobject.links[linkindex]["uri"];
            };
        });
        var projectname = ""
        var projectdescr = ""
        var agentlink = ""
        var agentitems = [];
        $.getJSON(URI.parse(projectlink).path, function(projectlist) {
            $.each( projectlist, function (projectlistindex) {
                projectname = projectlist[projectlistindex].Project;
                console.log("Project:"+projectname);
                projectdescr = projectlist[projectlistindex].ProjectTitle;
                projectURI = projectlist[projectlistindex].ProjectURL;
                $.each(projectlist[projectlistindex].links, function (pali) {
                    if (projectlist[projectlistindex].links[pali].name=='agents') {
                        agentlink = projectlist[projectlistindex].links[pali].uri;
                    };
                });
            });
            $.getJSON(URI.parse(agentlink).path, function(agents) {
                $.each(agents, function(agentsindex) {
                    if (agents[agentsindex].AgentRole == 'editor') {
                        agentitems.push(agents[agentsindex].AgentName);
                    };
                });
            });    
        });
        items.push( "<div id='Database' class='content' style='padding: 0 0 10px;'> <a href='" + projectURI + "'><h2 style='color: #0f6ab4;'>" + projectname + "</h2></a> <h4 style='margin-left:2em;'>" + projectdescr + "</h4> <div class='markdown' style='margin-left:2em; padding:3px;'><p class='database'>In database " + listobject.DatabaseName + "</p>  <h4> Curator: </h4><ul><li class='curname' style='color: #333333; line-height: 1.4em; padding: 3px 0;'>"+ agentitems.join("</li><li class='curname'  style='color: #333333; line-height: 1.4em; padding: 3px 0;'>") + "</li></ul> </div> </div>" );
    });

    $( "<div/>", {
        "class": "container",
        html: items.join( "" )
        }).appendTo( ".project" );
});   
</script>

{% endblock %}
