{% extends "layout.html" %}
{% block body %}
<h2 class="swagger-ui-wrap">Overview on Published Lists</h2>
<div class="project">
</div>
<div class="waiting">
<p>Generating summaries from databases, this will take some seconds.</p>
</div>
<script>
function insensitive(s1, s2) {
  var s1lower = s1.toLowerCase();
  var s2lower = s2.toLowerCase();
  return s1lower > s2lower? 1 : (s1lower < s2lower? -1 : 0);
};

$.ajaxSetup({
    async: false
});
$.getJSON("{{ url_for('taxonlists', __external=T) }}", function(data) {
    var items = [];
    var items2 = [];
    
    $.each( data, function( listentry ) {
        var listobject =  data[listentry]
        var databasename = listobject.DatabaseName
        var projectlink = ""
        var listlink =""
        $.each( listobject.links, function (linkindex) {
            if (listobject.links[linkindex].name == 'listproject') {
                projectlink=listobject.links[linkindex]["uri"];
            };
            if (listobject.links[linkindex].name == 'taxonnamelist') {
                listlink=listobject.links[linkindex]["uri"];
            };
        });
        var projectname = ""
        var projectdescr = ""
        var agentlink = ""
        var agentitems = [];
        $.getJSON(URI.parse(projectlink).path, function(projectlist) {
            $.each( projectlist, function (projectlistindex) {
                projectname = projectlist[projectlistindex].Project;
                console.log("Project:"+projectname);
                projectdescr = projectlist[projectlistindex].ProjectTitle;
                projectURI = projectlist[projectlistindex].ProjectURL;
                $.each(projectlist[projectlistindex].links, function (pali) {
                    if (projectlist[projectlistindex].links[pali].name=='agents') {
                        agentlink = projectlist[projectlistindex].links[pali].uri;
                    };
                });
            });
            $.getJSON(URI.parse(agentlink).path, function(agents) {
                $.each(agents, function(agentsindex) {
                    if (agents[agentsindex].AgentRole == 'editor') {
                        agentitems.push(agents[agentsindex].AgentName);
                    };
                });
            });    
        });
        var item = "<div title='" + databasename + "' id='" + projectdescr + "' class='content' style='padding: 0 0 10px;'> <a href='" + projectURI + "'><h2 style='color: #0f6ab4;'>" + projectdescr + "</h2></a>  <div class='markdown' style='margin-left:2em; padding:3px;'> <h4>TaxRefCode: </h4><p style='color: #333333; line-height: 1.4em; padding: 3px 0; margin-left:2em;'>" + projectname + "</p>"
        if (agentitems.length > 0) {
           if (agentitems.length > 1) {
              item = item + "<h4> Curators: </h4>";
           }
           else {
              item = item + "<h4> Curator: </h4>";
           }
           item = item + "<ul><li class='curname' style='color: #333333; line-height: 1.4em; padding: 3px 0; margin-left:2em;'>"+ agentitems.join("</li><li class='curname'  style='color: #333333; line-height: 1.4em; padding: 3px 0; margin-left:2em;'>") + "</li></ul>"
        }
        
        item = item +"</div> </div>" 
        
        items.push( item );
        
    });
    items.sort(insensitive);
    
    var db = "";
    items.forEach(function (element, index, array) {
       db_now = $(element).attr("title")
       console.log(db_now);
       if (! (db_now === db)) {
          element = "<h1>" + db_now.split("_")[1] + "</h1>" + element;
          db = db_now;
       }
       items2.push(element);
    })
    

    $( "<div/>", {
        "class": "container",
        html: items2.join( "" )
        }).appendTo( ".project" );
    $(".waiting").remove();
});   
</script>

{% endblock %}
