taxonID,scientificName,acceptedNameUsageID,parentNameUsageID,references,taxonRank,namePublishedIn
{% for nameitem in taxonnames -%}
"{{ nameitem.taxonID }}","{{ nameitem.TaxonNameCache | default('', true)  }}","{{ nameitem.acceptedNameUsageID | default('', true)  }}","{{ nameitem.parentNameUsageID | default('', true)  }}","{{ project.ProjectURL | default('', true)  }}","{{ nameitem.TaxonomicRank | default('', true)  }}","{%- if  nameitem.ReferenceTitle -%}{{nameitem.ReferenceTitle }}{%- endif -%}"
{% endfor %}  

