{% extends "layout.html" %}
{% block body %}
<!-- template taxonname.html -->

<div class="taxonname"></div>
<div class="taxonid"></div>
<div class="parentname"></div>
<div class="projectname"></div>
<div class="projecttitle"></div>
<div class="commonnames"></div>
Kuratoren:
<ul class="curatorlist"></ul>

<script>
$.ajaxSetup({
    async: false
});

$.getJSON("{{ url_for('name', database=database, id=id ) }}", function(data) {
   var items = [],
       taxonname = "",
       projecturi = "",
       projectname = "",
       projecttitle = "",
       projectid = "",
       agentlisturi = "";
   $.each( data, function( listentry ) {
        var listobject =  data[listentry];
        taxonname = listobject.TaxonNameCache;
        taxonid= listobject.NameID;
        projectid = listobject.NameID;
        
        $.each( listobject.links, function (linkindex) {
            if (listobject.links[linkindex].name == 'listproject') {
                projecturi=listobject.links[linkindex]["uri"];
            };
        });        
   });
   $.getJSON(URI.parse(projecturi).path, function(projectlist) {
       $.each( projectlist, function (projectlistindex) {
            projecttitle = projectlist[projectlistindex].ProjectTitle;
            projectname = projectlist[projectlistindex].ProjectName;
            
            $.each( projectlist[projectlistindex].links, function (linkindex) {
                if (projectlist[projectlistindex].links[linkindex].name == 'agents') {
                   agentlisturi = projectlist[projectlistindex].links[linkindex]["uri"];
                };
            });        
       });
   });
   $.getJSON(URI.parse(agentlisturi).path, function(agentlinklist) {
       $.each( agentlinklist, function (agentindex) {
            $(".curatorlist").append('<li class="curator">' + agentlinklist[agentindex].AgentName + '</li>');
       });
   });
   
   $(".taxonname").append(taxonname);
   $(".taxonid").append(taxonid);
   $(".projectname").append(projectname);
   $(".projecttitle").append('<a href="'+ projecturi +'">'+projecttitle+'</a>');
   
   
   
});

</script>

{% endblock %}
